[2018-08-17 14:06] elrayle opened #1 "Show history of failures on Monitor Status screen"
_Copied from cul-it/qa_server_

Currently, monitor status shows a summary of the count of failing/passing tests at midnight last night.  It also shows the list of tests that are failing.

This proposes adding a section that shows historical failures and statistics for failures to answer questions like...

* number of failing days out of # of days run
* number type of failures... can't load authori

[2018-08-17 14:06] elrayle commented on #1
## Current tables:

### authority_status

Usage: Data shown in monitor status page.  Shows data with latest dt_stamp.

Fields:
* id - unique sequential id assigned at row creation
* dt_stamp - when the tests completed
* test_count - count of all tests
* failure_count - count of failing tests

### authority_status_failure

Usage: Detail on which tests fail.  Foreign key into authority_status table.

[2018-08-17 14:07] elrayle commented on #1
## Queries

### Latest Summary

Show latest summary of all tests on Monitor Status page

[code]

Listing in UI:
* Authorities - number of authorities with scenarios
* Authorities with Failures - number of authorities where at least one test failed
* Passing Tests - number of scenarios run that passed
* Failing Tests - number of scenarios run that failed
* TOTAL Tests - number of scenarios = passin

[2018-08-17 14:07] elrayle commented on #1
**_UNDER CONSTRUCTION_**

### Up/Down Time History

For each authority, ratio of runs where all tests pass to those with 1 or more failures...

[code]

Use Charkick for graph...

[code]

Not sure how to make auth_name/run_count the x-axis values.  Not sure how to show counts as y-axis values.  Note sure how to tell graph that the column data is 2 & 3.

Going for something like...

![image](https:/

[2018-08-17 14:08] elrayle commented on #1
### How things work today's commit
* Updated historical data to include passing and failing scenarios.
* Saving only data created through monitoring.  Data created when users check status are not saved.
* Saving only connection tests through monitoring.

### Work in progress
* Working on displaying a graph using GoogleCharts via ChartKick gem

### QA Work
* Make sure that QA is returning performan

[2018-08-17 14:29] elrayle opened #2 "Confirm entities supported for dbPedia and sample test URLs"
_Moved from: https://github.com/cul-it/qa_server/issues/9_

Currently, dbpedia_ld4l_cache is configured to have the same subauthorities (aka entities) as loc configs.  I'm not sure this is correct.

@eichmann Can you confirm the entities supported by http://services.ld4l.org/ld4l_services/dbpedia_name_batch.jsp?entity=XXX&query=YYY

And do you have sample queries I can use to test each entity?

[2018-08-17 14:31] elrayle commented on #2
From @eichmann:

[2018-08-17 20:03] zimeon opened #3 "Add CORS headers so QA API can be used from JavaScript from another origin"
The key requirements are:

1) to add the following HTTP header to responses to GET, where `*` indicates that code from any origin should be able to read data from QA.:

[code]
2) to support the `OPTIONS` HTTP method on the same resource, for which I think can be just the addition of the HTTP methods supported, perhaps a 204 with headers:

[code]

See http://www.w3.org/TR/cors/ for gory details, ht

[2018-08-31 12:32] elrayle commented on #3
CORS headers and OPTIONS HTTP method support were added to QA in PR https://github.com/samvera/questioning_authority/pull/172.  At this writing, the PR is pending review and merge.  It was added as a configurable option, so I do not expect any objects to it merging.

[2018-08-31 12:36] elrayle opened #4 "Bring min_context branch of QA up to date with latest master"
min_context needs to be synced with latest master branch of QA to pick up a few changes that have been made there, including...
* CORS_headers
* resolution of security vulnerability (rubocop)
* compatibility with Rails 5.1

[2018-08-31 16:02] elrayle commented on #3
The CORS headers have been added to the min_context branch of QA.

Remaining Work:
* setup on elr dev server to allow testing
* test in an actual browser accessing cross-origin

[2018-09-13 13:05] sfolsom opened #10 "Create a Key of YAML Keys"
Describe in a README (or other doc) how to use the different keys defined in the YAML test file. E.g. difference between search: and term:, how replacements: is used, does it matter that position: is without single quotes vs. maxRecords: has them?

[2018-09-14 13:57] zimeon opened #11 "Set up staging environment for lookup.ld4l.org"
Given troubles with #3 and redeployment of the main service, we should have a staging environment to avoid such issues in the future

[2018-09-14 17:55] zimeon commented on #11
Ref: https://culibrary.atlassian.net/browse/DLITSYS-3002

[2018-09-14 19:22] elrayle opened #12 "Create documentation page that lists authorities that are/will be/may be supported"
Adding to the github wiki documentation.

[2018-09-14 19:26] elrayle opened #13 "Request authority LCMPT be supported"
*Authority:* LCMPT - LC Medium of Performance Thesaurus for Music
*Datasource:* http://id.loc.gov/download/

[2018-09-14 19:27] elrayle commented on #13
@eichmann Can you add LCMPT to your cache?  I'll set up the configuration once you have that done.

[2018-09-14 19:31] elrayle opened #14 "Request authority ISNI be supported"
**Authority:** [ISNI](http://www.isni.org/)
**Download:** http://www.isni.org/downloads  NOTE: Requires a login.

[2018-09-14 19:31] zimeon commented on #12
https://github.com/LD4P/qa_server/wiki/Authority-Support_Plan

[2018-09-14 19:32] elrayle commented on #14
There are questions about whether or not we can download and serve up ISNI data through our cache system.  There needs to be some exploration of their API to see if there is an option for direct access.

@eichmann Have you looked into this at all?

[2018-09-14 19:35] elrayle opened #15 "Request authority Wikidata be supported"
**Authority:** [Wikidata](https://www.wikidata.org/wiki/Wikidata:Data_access)
**Download:** https://www.wikidata.org/wiki/Wikidata:Database_download

[2018-09-14 19:36] elrayle commented on #15
This request will not be immediately acted upon.  Research is required to determine if we can cache data, whether we want to, is direct access a possibility?  There are also questions about what data from wikidata we want to query and fetch.

[2018-09-14 20:03] elrayle opened #16 "Request datasource Share-VDE be supported by QaServer"
**Datasource:**  [Share-VDE](http://www.share-vde.org/)

**Request:** Consider caching Share-VDE data in services.ld4l.org.

**Expected Workflow:**

* Goto Sinopia Workspace
* Click Load Share-VDE tab
* Search for entity in Share-VDE using QaServer
* Select a Share-VDE entity
* Use QaServer term fetch for the Share-VDE selected entity to get all available data
* A new Sinopia entity is created and

[2018-09-14 20:13] elrayle opened #17 "Request authority Discogs be supported"
**Datasource:**  [Discogs](https://www.discogs.com/)

**Request:** Consider connecting to Cornell's Rails app which extended QA to access Discogs and convert to linked data into the QaServer system.  May want to consider caching converted data in services.ld4l.org.

**Expected Workflow:**

* Goto Sinopia Workspace
* Click Load Discogs tab
* Search for record in Discogs using QaServer
* Select a Di

[2018-09-14 20:20] elrayle opened #18 "Explore caching Sinopia data for search/copy"
**Datasource:**  Sinopia Bibframe Data

**Request:** Consider caching Sinopia Bibframe data in services.ld4l.org to allow for search and copy of the data into new Sinopia Bibframe data records.

**Exploration:** Need to determine if it is possible in the current architecture, whether or not the system will scale appropriately, and how the cache will be refreshed.

**Expected Workflow:**

* Goto Si

[2018-09-14 20:21] elrayle commented on #18
@dave Do you want to comment on any of this?  I don't see this as a top priority at this point in time, but wanted to put it out there as food for thought.

[2018-09-14 20:30] elrayle commented on #3
This work is essentially done.  It is configured to be enabled in cul-it/qa_server.  It will be available in production when the production system comes back on line.

[2018-09-17 14:48] sfolsom commented on #14
N.B. ISNI's LoD implementation is in flux. May want to hold off on this until the dust settles on the modeling changes.

[2018-09-17 15:00] sfolsom commented on #13
Per action items from Friday's meeting, I'll get started on the first pass at tests and context information.

[2018-09-18 16:17] elrayle opened #19 "Create swagger API documentation for qa_server"
Request from:  @cmh2166

Request:  Document and version access API
   • QUERY: `http://localhost:3000/qa/search/linked_data/:authname/(:subauthname)?:params`
   • FETCH: `http://localhost:3000/qa/show/linked_data/:authname/:uri_or_id`

Example to follow...
* https://github.com/folio-org/okapi/blob/master/okapi-core/src/main/raml/okapi.raml

Other resources and examples...
* https://swagger.io/docs

[2018-09-18 17:16] zimeon commented on #19
With regard to versioning, should we be adding a version to the path: e.g. `http://localhost:3000/qa/1.1/search/linked_data/:authname/(:subauthname)?:params`
so that multiple API versions can be supported at the same time to decouple upgrades of clients and servers?

[2018-09-18 19:54] elrayle commented on #16
- [ ] Josh will get Stanford's Share-VDE data to Dave
- [ ] Dave will ingest into his setup
- [ ] Lynette will create a QA config based on Dave's setup

[2018-09-18 20:02] elrayle opened #20 "Explore supporting LOC datasource searchable through QaServer"
**Datasource:**  [Library of Congress](https://www.loc.gov/) (LOC)

**Request:** Consider caching LOC data in services.ld4l.org.

**Expected Workflow:**

* Goto Sinopia Workspace
* Click Load from LOC tab
* Search for entity in LOC using QaServer
* Select a LOC entity
* Use QaServer term fetch for the selected LOC entity to get all available data
* A new Sinopia entity is created and pre-populated

[2018-09-18 20:04] elrayle commented on #20
- [ ] @kirkhess will provide LOC data to Dave
- [ ] @eichmann will ingest LOC data into services.ld4l.org
- [ ] @elrayle will create QA config based on Dave's setup

[2018-09-19 18:15] jgreben commented on #16
@eichmann See if you can download the files using these links. If you do not have the right permissions I will ask the Casalini famiglia if they can add you, as this may be the easiest way to get the files to you. I think you should only need D2 and D3, but D1 is Stanford's basic set of triples. Explore the data and see what you think:

"D1_RDF_SVDE_URIs" `stanford_nt` (our catalog converted to Bi

[2018-09-19 20:04] elrayle commented on #10
DONE:  https://github.com/LD4P/qa_server/wiki/Writing-Tests-for-an-Authority

[2018-09-19 20:04] #10 closed

[2018-09-19 20:07] elrayle commented on #4
DONE: via rebase qa/min_context branch with qa/master branch

[2018-09-19 20:07] #4 closed

[2018-09-19 20:07] elrayle commented on #12
DONE:  https://github.com/LD4P/qa_server/wiki/Authority-Support-Plan

[2018-09-19 20:07] #12 closed

[2018-09-19 20:11] elrayle commented on #19
API versioning determines...
* access API (e.g. GET show, GET search, etc.)
* results format
* configuration file format

To support multiple versions at a time would require that the code be able to read in multiple configuration file formats AND be able to produce results in multiple formats.  Although this is a good aspiration, it may prove challenging with limited resources.

[2018-09-19 20:47] eichmann commented on #16
@jgreben  No joy:
INFO  Load: /Volumes/Pegasus3/LD4L/vde/stanford_3/stanford_06.nq -- 2018/09/19 15:37:55 CDT
...
ERROR [line: 18081849, col: 172] Illegal character in IRI (codepoint 0x7D, '}'): <http://id.loc.gov/vocabulary/geographicAreas/n-cn---[}]...>

[2018-09-20 18:00] jgreben commented on #16
@eichmann looks like you split the file into smaller sets? If so, and if there are particular files that will not load because of character issues, perhaps you can just skip those for now. As long as we have a decent body of sample data to lookup, that will probably work for us.

If most of the files are not loadable because, maybe split them up into smaller chunks and do some remediation with `se

[2018-09-20 18:12] eichmann commented on #16
@jgreben each of the deliverable files is a compressed tar file.  #3 contains 43 individual nq files, for instance. I'm running a validation check on the #3 files right now.

[2018-09-24 13:55] zimeon commented on #19
Discussion from Friday was that if we want to version the API it might be best/simplest to have multiple versions of the entire application running and version in the DNS name, e.g.:

  * `http://lookup.ld4l.org/qa/....` -- always current/latest version
  * `http://v1.lookup.ld4l.org/qa/....` -- some specific version (e.g. `v1` in this case)

[2018-09-25 18:29] elrayle opened #25 "Explore faceted search for Share-VDE"
**Dependency:**  https://github.com/LD4P/qa_server/issues/16 Request datasource Share-VDE be supported by QaServer

As a test of faceted search through QA - DAVE architecture, search Share-VDE with facet `title` and `rdf:type`.

- [ ] add facets to DAVE index
- [ ] update qa config to allow for facet parameters to be passed via qa URL as needed

[2018-09-25 18:32] elrayle commented on #25
@eichmann Can you let me know how I should structure my curl request to send a search request passing facet data title and/or rdf:title?

[2018-09-25 20:06] eichmann commented on #16
@jgreben I'm getting ready to redo the triplestore - does it make sense to generate a single one for all (valid) data from the three deliverables, or to generate 3 - one for each of the deliverables?

[2018-09-25 23:44] jgreben commented on #16
@eichmann One triplestore would be fine, as long as the cluster links are also returned along with the QA query for an entity. If deliverable 3 also includes the cluster kb links, I'm not sure we need both 1 and 3.

[2018-09-26 07:17] zimeon commented on #11
Have closed DLITSYS-3002 as Greg has set up process for deploying staging instance as we do future updates. Done.

[2018-09-26 19:20] eichmann commented on #16
I've scrubbed & patched the ill-formed triples from deliverables 2 & 3 of the Stanford data and am building a combined triplestore now.  I do have one build from #3 with files 6, 9 and 16_01 left out, but sounds like, given @jgreben's comment @jgreben, that 3 by itself isn't of much use, and 1 appears to be an early version of 3. @jgreben can you confirm my hypothesis about 1 & 3?

[2018-10-02 21:10] zimeon commented on #19
I think this issue is split into two: documentation and versioning seem rather different issues

[2018-10-10 01:34] AdamSchiff opened #26 "Request authority LCDGT (Library of Congress Demographic Group Terms) be supported"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

More information about making a request can be found at https://wiki.duraspace.org/display/LD4P2/Request+a+New+Dataset+For+QA

Please perf

[2018-10-16 18:38] elrayle commented on #14
See Linked Data section for information on URIs and term retrieval:  http://www.isni.org/how-isni-works
Search ISNI provided by OCLC:  http://www.isni.org/search

The documentation states you can get linked data for a term, but I tried a number of formats and can’t get any results…

- http://www.isni.org/isni/0000000121324854.xml - returns xml (not rdf-xml)
- http://www.isni.org/isni/0000000121324

[2018-10-19 13:36] zimeon commented on #11
This is blocked as we haven't worked out with Greg how to get this going

[2018-10-19 13:54] sfolsom commented on #13
@eichmann just want to give a heads up that with each request for datasources there's a tab in this spreadsheet with information on indexing expectations: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=239265704. The LCMPT tab isn't complete. I'll try to complete the tab this afternoon, but in general it should guide what fields should be searchable vs

[2018-10-19 14:07] elrayle opened #27 "Refactor QA to allow for extended context"
* refactor configuration code to be able to read a complex content specification
* refactor processing code that will traverse deeper into the graph to get context

https://github.com/samvera/questioning_authority/tree/ld_refactor

[2018-10-19 14:11] elrayle opened #28 "Performance tracking of QA requests"
Tracking of performance requires:
* adding performance data to QA including time to get data from the authority source and time to normalize the data in QA
* update qa_server to save performance data over time
* update qa_server UI to show performance results over time

Questions:
* should performance data be saved for every query?
* should performance data be saved when running a test specific to

[2018-10-19 14:41] elrayle opened #29 "Refactor QA term request to return json-ld"
### QA refactor
In support of terms that will have their details copied into a Sinopia entity, QA should have the ability to return a term as json-ld serialization instead of normalized json.  The full details of how Sinopia will import an external term is TBA (see proposed process below).  It is anticipated that the ontology for the json-ld will need to match the ontology of the Profile selected

[2018-10-19 14:45] elrayle commented on #29
@jermnelson @jgreben Can you review the Basic Process for importing QA term into Sinopia and see if this is your understanding as well?  The list of steps is based on our conversation at the LD4P meetings earlier this week.

[2018-10-23 17:47] jgreben commented on #29
@elrayle

In consultation with @jermnelson:

`QA should have the ability to return a term as json-ld serialization instead of normalized json.`
- Yes, we think this is true

`It is anticipated that the ontology for the json-ld will need to match the ontology of the Profile selected for Sinopia entity being created.`
- We are not sure about this. Instead of "will need to match" we think it should "

[2018-10-23 20:15] elrayle commented on #19
The Swagger API doc is part of QA 2.1.2 release.  Cul-it/qa_server master branch makes use of this release.  As soon as the deployment issues are resolved, this will be available.

There is documentation of the process to use the API and what it returns in the QA README.

Query: https://github.com/samvera/questioning_authority/tree/min_context#query
Term: https://github.com/samvera/questioning_aut

[2018-10-23 20:29] zimeon opened #30 "Request to version API for qa_server access"
Split off from #19. The Sinopia team would like the QA server to support multiple versions where there are API changes in order to decouple upgrade of QA server from upgrade of Sinopia.

[2018-10-23 20:32] zimeon commented on #30
Past discussion:

Sep 18: @zimeon: With regard to versioning, should we be adding a version to the path: e.g. `http://localhost:3000/qa/1.1/search/linked_data/:authname/(:subauthname)?:params`
so that multiple API versions can be supported at the same time to decouple upgrades of clients and servers?

Sep 19: @elrayle: API versioning determines...
* access API (e.g. GET show, GET search, etc.)
* r

[2018-10-24 19:00] elrayle commented on #19
The json version of the API is...
https://github.com/samvera/questioning_authority/blob/min_context/lib/generators/qa/apidoc/templates/public/qa/apidoc/apidoc.json

[2018-10-24 20:07] zimeon commented on #30
Some discussion of practical issues on https://culibrary.atlassian.net/browse/DLITSYS-3010 (Cornell access only)

[2018-10-26 14:32] zimeon commented on #17
Most of this will be handled by Tim's work to build in support for import from Discogs into QA

[2018-11-01 20:27] tworrall opened #34 "Create basic Discogs authority for QA"
Adapt the authority used in the initial Discogs test app.

**Basic features**
 1. Search url returns returns Discogs image and concatenated info: title, year, label (formats?)
 2. The "show" URL returns JSON object
 3. Must support Discogs' consumer key and secret authentication (required by the search api)

**Open Issues**
 1. Should there be a generator for the Discogs authority?

[2018-11-01 20:34] tworrall opened #35 "Develop the translation module for the Discogs authority"
**Basic features**
 1. The module maps the Discogs' terms to their corresponding Bibframe properties (and URIs where relevant)
 2. The "show" URL returns JSON-LD

[2018-11-01 20:35] tworrall opened #36 "Create rspec tests for the QA Discogs authority"
Will use the GeoNames authority as an example to follow.

[2018-11-02 13:36] elrayle commented on #11
See next steps in https://github.com/cul-it/qa_server/issues/39

[2018-11-02 13:57] zimeon commented on #34
Discussion in LD4P2 meeting is that we don't expect to be able to use a generator in this project, expect to need Javascript code that can be incorporated in BFE/Sinopia

[2018-11-10 11:05] #11 closed

[2018-11-10 11:05] #3 closed

[2018-11-10 11:05] #1 closed

[2018-11-10 11:05] #19 closed

[2018-11-16 14:44] #29 closed

[2018-11-19 16:46] eichmann commented on #15
I've refreshed the existing triplestore with current data as of 11/13, so yes, caching is possible.

[2018-11-21 19:19] zimeon opened #41 "QA server apidocs page shows errors"
To repeat:
  * Open https://lookup.ld4l.org/qa/apidoc/
  * Click on "GET /list/linked_data/authorities" to expand
  * Top of page shows a red box with:

Could not resolve reference because of: Could not resolve pointer: `/components/schemas/linked_data_authorities_list_result` does not exist in document

This happens for various, but not all, of the methods/paths.

[2018-11-28 16:57] CECSpecialistI opened #42 "OLAC's Videogame Genre Form Terms"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

More information about making a request can be found at https://wiki.duraspace.org/display/LD4P2/Request+a+New+Dataset+For+QA

Please perf

[2018-12-06 16:49] CECSpecialistI commented on #26
New tab added to spreadsheet: [https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=612799256]

[2018-12-06 17:15] tworrall commented on #34
May tweak the way the Discogs key and secret are configured, but otherwise this is done.

[2018-12-06 17:15] #34 closed

[2018-12-07 14:43] elrayle commented on #27
Config will be updated to define context using LD Path.

LD Path Reference:
* Marmotta definition of LD Path
* cbeer/ldpath gem

[2018-12-07 18:39] elrayle commented on #26
### Links for Testing in Production

This authority can be used now at the following example links...

SEARCH:  https://lookup.ld4l.org/authorities/search/linked_data/locdemographics_ld4l_cache?q=workers&maxRecords=4

FETCH:  https://lookup.ld4l.org/authorities/fetch/linked_data/locdemographics_ld4l_cache?uri=http%3A%2F%2Fid%2Eloc%2Egov%2Fauthorities%2FdemographicTerms%2Fdg2015060460

### Create A

[2018-12-07 21:55] zimeon opened #44 "Provide a text entry for accuracy tests"
Provide a text entry for accuracy tests so that those developing accuracy tests can try them out without having to ask for them to be incorporated into the QA service.

[2018-12-10 12:10] elrayle commented on #44
Mockup:  https://wiki.duraspace.org/x/J4F7Bg

![image](https://user-images.githubusercontent.com/6855473/49731862-b0df3e00-fc4a-11e8-8633-51fe4f7e78a4.png)

[2018-12-11 19:24] kirkhess opened #45 "Extract labels from HTTP response headers"
From http://id.loc.gov/techcenter/:

The specific use case that should be considered is for MESH subjects, so they could be easily matched via the label to the X-URI.

[2018-12-14 15:09] #41 closed

[2018-12-18 19:12] bushmanb opened #47 "MeSH"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

More information about making a request can be found at https://wiki.duraspace.org/display/LD4P2/Request+a+New+Dataset+For+QA

Please perf

[2018-12-28 19:16] eichmann commented on #16
Standard batch interface is now available as stanford_share_vde_work_batch.jsp and stanford_share_vde_instance_batch.jsp.  We'll need to discuss result contents with the group.  Some hits yield 4 triples, some 14k triples...

[2019-01-11 15:07] sfolsom commented on #47
@elrayle MESH is already in QA. Is there a placeholder YAML file that @bushmanb can add tests for?

[2019-01-11 15:07] elrayle commented on #42
@eichmann We have a request for this authority.  Can you look at the identified data source and determine if you have all you need to create an authority for this?

[2019-01-11 15:24] elrayle opened #48 "Add back AGROVOC_DIRECT authority"
Ref:  PR #43 - removed AGROVOC_DIRECT authority

AGROVOC changed the access URI.  I can't find in the new documentation what the new link is for access.

References:
* http://aims.fao.org/ru/activity/blog/agrovoc-november-2018-release-out-35966-concepts -- announcement of the change says SKOSMOS link didn't change, but it didn't work last I tried.  Perhaps I should try again.
* http://api.finto.fi

[2019-01-11 16:22] elrayle commented on #47
Accuracy tests can be added to...
[lib/generators/qa_server/templates/config/authorities/linked_data/scenarios/mesh_ld4l_cache_validation.yml](https://github.com/LD4P/qa_server/blob/master/lib/generators/qa_server/templates/config/authorities/linked_data/scenarios/mesh_ld4l_cache_validation.yml)

[2019-01-11 21:32] elrayle commented on #26
The provided accuracy tests (PR #46) are in production.  The results are not immediately what we want.

![image](https://user-images.githubusercontent.com/6855473/51060483-e9619700-15bd-11e9-8c94-a68d1401f882.png)

@eichmann and I are exploring the following changes to the indexing based on the spreadsheet information and some general processing discussions in the larger authorities community.

*

[2019-01-16 13:42] elrayle commented on #13
- [ ] owner - @sfolsom is working on getting someone to own this
- [x] data in D.A.V.E
- [x] configured in QA
  - [x] basic term and search configuration
  - [ ] subauthority configuration - pending info from @eichmann about whether there are any subauthorities
- [x] connection tests - has 1 for term and 1 for search
- [ ] accuracy tests - pending owner writing them

[2019-01-16 13:55] elrayle commented on #26
- [X] owner - @AdamSchiff
- [x] data in D.A.V.E
- [x] configured in QA
  - [x] basic term and search configuration
  - [ ] subauthority configuration - pending info from @eichmann about whether there are any subauthorities
- [x] connection tests
  - [x] basic term and search test
    - [x] written
    - [x] on production server
  - [ ] subauthority connection tests
    - [ ] written
    - [ ] on p

[2019-01-16 13:59] elrayle commented on #42
- [x] owner - @CECSpecialistI
- [ ] data in D.A.V.E. - @eichmann to look into this
- [ ] configured in QA
  - [ ] basic term and search configuration
  - [ ] subauthority configuration - pending info from @eichmann about whether there are any subauthorities
- [ ] connection tests
  - [ ] basic term and search test
    - [ ] written
    - [ ] on production server
  - [ ] subauthority connection tes

[2019-01-17 14:01] sfolsom commented on #13
@NancyL would you be able to take ownership of this vocabulary in QA. It needs the spreadsheet filled out about context (https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=239265704) and Yaml tests defined (https://github.com/LD4P/qa_server/blob/master/lib/generators/qa_server/templates/config/authorities/linked_data/scenarios/locperformance_ld4l_cache_val

[2019-01-17 20:13] tworrall opened #49 "Implement the Discogs authority in Sinopia"
Test the Discogs authority by implementing it in a clone of Sinopia. The goal is to be able to select a discogs release via the authority, populate the fields that define the work and instance, and then have Sinopia generate the RDF.

[2019-01-18 15:39] sfolsom opened #50 "Add Subauthorities to DAVE and QA for LCGFT"
The conclusion if a conversation with @elrayle and others during the Cornell meeting today is that we need subauthorities based on the spreadsheet for LCGFT column A, https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit?usp=sharing.

[2019-01-18 15:41] zimeon commented on #35
Translations: https://github.com/LD4P/ld4p2-cornell/blob/master/Sinatra/Discogs/annotated_sinatra.json

[2019-01-18 15:42] tworrall commented on #35
Examples of the current json-ld:

https://github.com/LD4P/ld4p2-cornell/wiki/Discogs-JSON-LD---N3-examples

[2019-01-18 15:57] zimeon commented on #14
Blocked until we have either 1) linked data support when doing a search and resolving an ISNI URI or 2) dump of data that can be loaded into Dave's server. If neither of these are supported then we could adopt the methodology used for Discogs but that would be a significant bit of work.

[2019-01-18 16:08] sfolsom commented on #15
The conclusion if a conversation with @elrayle and others during the Cornell meeting today is that we need subauthorities based on the spreadsheet for Wikidata column A, https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=965082913 (The spreadsheet isn't ready for action yet)

[2019-01-18 16:31] elrayle commented on #50
@eichmann I currently have the following subauthoritities configured for LCGFT.  I do not believe the data is actually subset on these, so I think we can remove them.

[code]

Instead, I believe the subauthorities should be

[code]

[2019-01-24 21:06] tworrall commented on #35
The Discogs tracklist data is now part of the JSON-LD that the translation module produces. The examples on the this wiki page have been updated to reflect that:

https://github.com/LD4P/ld4p2-cornell/wiki/Discogs-JSON-LD-and-N3-examples

Still need to finalize whether the work-level extra artists get associated with the tracks or stay with the work. @sfolsom to make this decision.

[2019-01-24 21:59] tworrall commented on #35
For @sfolsom -- here are a couple of questions relating to roles.

1. The discogs artists are set up as agents:

:work1 bf:contribution :primaryContribution .
:primaryContribution bf:agent <artist uri> .

But we haven't set up roles for them. Should they have roles? (We did do that with the extra artists listed at the track level.)

2. When we do create roles, should we be using LoC relators?

htt

[2019-01-25 15:03] jak473 commented on #16
Waiting on data from Casalini

[2019-01-25 15:09] elrayle commented on #47
- [ ] owner - @sfolsom is working on getting someone to own this
- [x] data in D.A.V.E
- [x] configured in QA
  - [x] basic term and search configuration
  - [ ] subauthority configuration - pending info from @eichmann about whether there are any subauthorities
- [x] connection tests
  - [x] basic term and search test
    - [x] written
    - [x] on production server
  - [ ] subauthority connection

[2019-01-28 21:56] sfolsom commented on #35
Let's put artists on both albums and songs (primary contributions), and extra artists only on albums (contributions).

With roles, let's not worry about trying to map them to LoC relators and just use rdfs:labels off the Roles.

[2019-01-31 21:58] tworrall commented on #35
The [JSON-LD and N3 examples](https://github.com/LD4P/ld4p2-cornell/wiki/Discogs-JSON-LD-and-N3-examples) reflect the coding changes made in response to (1) Steven's answers to the questions above and (2) his updates to the [annotated SInatra JSON file](https://github.com/LD4P/ld4p2-cornell/blob/master/Sinatra/Discogs/annotated_sinatra.json).

[2019-02-05 21:15] jgreben opened #51 "Add Lookup Config details to authorities list"
sinopia_editor and sinopia_profile_editor currently use separate local copies of a hand-coded json file in order to lookup the QA authority details from a urn string that originates from a resource template, e.g. given a uri `urn:ld4p:qa:oclc_fast:personal_name` in a resource template, we get back this from the json config:
[code]
sinopia_editor then use the authority, sub-authority, language, and

[2019-02-06 20:40] tworrall commented on #35
Because the Discogs authority uses yaml files to map Discogs terms to LOC terms, need to write a generator class that copies these files to the root rails application.

[2019-02-07 21:07] tworrall commented on #17
@elrayle Is this issue superceded by [Issue 35](https://github.com/LD4P/qa_server/issues/35)? I think you created this one before the decision to make the Discogs authority part of QA and not the QA Server.

[2019-02-07 21:15] tworrall opened #52 "Create "read me" text for the Discogs authority"
Need to provide documentation on how to implement the Discogs authority.

[2019-02-07 21:53] tworrall commented on #35
Looks like there may need to be updates to distinguish between masters and releases. If so, the changes to the code won't be that significant.

[2019-02-08 14:24] eslao commented on #15
@elrayle @eichmann I've put together some notes in the hopes that we can revisit this request, with an eye toward first implementing a "generic" lookup for any type of Wikidata entity: https://docs.google.com/document/d/1zHfziWP2I9lfNnrrVVX2Xyvim5cXwtTRU8GddKCbJy4/edit#

We've split the Wikidata tab in the spreadsheet into two tabs -- one for the "generic" lookup, and another for potential subauth

[2019-02-08 15:14] zimeon commented on #15
Suggest trying to implement the generic wikidata query outlined in the spreadsheet as a direct SPARQL query against wikidata -- is that realistic? is that fast enough?

[2019-02-08 15:34] sfolsom opened #53 "Update LCNAF indexing to reflex decisions made in Spreadsheet"
Using https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=745128104 make the RWO the subject of the search with context off from it. Some context is provided directly off the RWO, sometimes (e.g. variant labels are on the related Authority).

[2019-02-08 15:36] sfolsom commented on #53
Maybe we can discuss in Tuesday meeting and/or set up a separate call to go over this.

[2019-02-08 15:40] zimeon commented on #17
Closing this for now. It has a first stab at workflow but isn't quite how we are moving forward now.

[2019-02-08 15:40] #17 closed

[2019-02-08 18:05] sfolsom commented on #15
If there is concern about indexing all of Wikidata for reasons of scale and keeping the data current, we may want to look into the API @eslao documented in the Google doc above. Wbsearchentities module (gets item numbers, labels, and description string by label string): https://www.wikidata.org/w/api.php?action=help&modules=wbsearchentities

[2019-02-14 21:41] tworrall commented on #52
This documentation will eventually go into the QA repository, but should it be stored here or in the ld4p2-cornell repository in the meantime?

[2019-02-14 21:57] tworrall commented on #35
1. Implemented subauthorities to handle masters and releases separately, while retaining the ability to return JSON-LD if no subauthority is specified.

2. New code to check if a release has a master. If it does, the primary information for the work being defined now comes from that master rather than the release.

3. In some instances a Discogs release and master can share the same ID. So if no s

[2019-02-15 14:49] elrayle opened #54 "Track usage statistics for UI/cURL requests in cul-it/qa_server"
This is being tracked in cul-it/qa_server at https://github.com/cul-it/qa_server/issues/63

This is similar to google analytics type of tracking.  I.e., how many time are there requests sent to a particular authority.  Probably can answer these types of questions from the performance data that is already tracked.  Not as easy is number of requests by unique users based on IP type data.  This is no

[2019-02-15 15:24] zimeon commented on #15
Some possibly useful starting info on search by label in https://stackoverflow.com/questions/38527828/how-to-query-wikidata-items-using-its-labels

[2019-02-19 14:19] elrayle commented on #16
From Dave in Slack...

[2019-02-19 14:20] elrayle commented on #16
@eichmann Can you provide...
* URL to search
* URL to fetch a single term
* list of subauthorities (if any)

[2019-02-19 19:24] elrayle commented on #47
@eichmann will reach out to @bushmanb to determine what updates are needed for the index and what data should be in the results sent to QA.

[2019-02-19 19:36] elrayle commented on #53
@eichmann will make a separate index to allow the existing LCNAF indexing approach to continue to exist and a second index with the RWO view into LCNAF is a new index with a new QA config.

[2019-02-19 20:00] elrayle opened #55 "Release QA to make context ready for use in qa_server"
The final PR related to the QA refactor to extend the linked data module to return additional context is complete.  There are several remaining tasks needed to make QA ready for release.

REF:  https://github.com/samvera/questioning_authority/issues/205

[2019-02-19 20:04] elrayle opened #56 "Resolve LDPath performance issue"
Issue in ldpath gem: https://github.com/cbeer/ldpath.rb/issues/3

[2019-02-19 20:05] elrayle commented on #27
This effort is complete.  Two follow-on efforts are underway related to this work.

* #55 Release QA to make context ready for use in qa_server
* #56 Resolve LDPath issues for QA

[2019-02-19 20:06] #27 closed

[2019-02-19 20:10] NancyL commented on #13
So I made some more edits to the spreadsheet that I hadn't done some months back (sorry, anonymously; forgot to sign in). I'm not sure what more you need from me. I hope I understood what was being asked...

[2019-02-22 14:16] sfolsom commented on #13
@NancyL would you be up for defining Yaml tests (https://github.com/LD4P/qa_server/blob/master/lib/generators/qa_server/templates/config/authorities/linked_data/scenarios/locperformance_ld4l_cache_validation.yml)? Here are directions for doing so: https://github.com/LD4P/qa_server/wiki/Writing-Tests-for-an-Authority. And here's an example of one already done: https://github.com/LD4P/qa_server/blob

[2019-02-26 15:19] eslao commented on #15
@zimeon Thanks for finding that. Would a direct SPARQL query on Wikidata, or the API that @sfolsom mentions, enable us to create a lookup that meets the specs that @mmcgee and I have laid out? As I said before, I'd be happy to set up a call to weigh our options, if there are trade-offs between the possible approaches.

[2019-02-26 19:39] elrayle commented on #16
Pending completion of Cornell data ingest.  At that point, the QA config will be created.

[2019-02-28 15:51] eichmann commented on #16
Connection points for partial content of Cornell works and instances are at

http://services.ld4l.org/ld4l_services/cornell_share_vde_work_batch.jsp
http://services.ld4l.org/ld4l_services/cornell_share_vde_instance_batch.jsp

with standard arguments.  Individual term results available at

http://services.ld4l.org/ld4l_services/cornell_share_vde_work_lookup.jsp
http://services.ld4l.org/ld4l_service

[2019-03-01 15:13] elrayle commented on #16
### Query

    curl 'http://services.ld4l.org/ld4l_services/cornell_share_vde_work_batch.jsp?query=twain&maxRecords=2'

### Results

[code]

Much more data than this.  Full results in gist: https://gist.github.com/elrayle/db74b3a1baa50649ac337ab0f1ec9307

### Observations

These all share the same subject URI, but based on authoritative label and schema label, the sample data shown above looks lik

[2019-03-01 15:53] elrayle commented on #15
@eslao QA has not yet worked with SPARQL queries.  I plan to use the wikidata as a first step of getting QA to play nicely with QA.

QA is approaching a major release to add context.  I plan to start this work once that is complete.

One thing that can speed up this work is an example SPARQL query in the structure desired to get the data you want.  If someone has time to do that, it will make the

[2019-03-05 20:56] eichmann commented on #16
my typo patch is deployed for all SHARE VDE sources, both work and instance (and a number of others no one has complained about…)

[2019-03-08 15:22] eslao commented on #15
@elrayle I've started by putting the beginnings of a query here: https://github.com/LD4P/Wikidata/blob/master/generic%20entity/wikidata_generic_entity.rq (@mmcgee and I will be adding more of these in the same folder)

The query I started with is looking for an exact string match; I started to experiment with a (contains()) filter (as many labels and aliases in Wikidata include definite articles a

[2019-03-12 13:59] elrayle opened #60 "Allow linked data configs to not filter by language"
Some linked data authorities either don't support language tagging of literals or the tagging they have is not accurate or incomplete.  In this case, it is desirable to not filter out literals based on language tags.

[2019-03-15 13:08] elrayle commented on #16
When I do a search request from cornell_share_vde_work_batch, the first triple correctly surrounds URIs with <>.  After that all other triples are missing <> around predicates and quotes around strings.

[code]

[2019-03-15 13:13] elrayle commented on #16
When I try to fetch a single work from  cornell_share_vde_work_lookup, I see the same problem where all triples, including the first, are missing <> around predicates and quotes around strings.

[code]

[2019-03-15 13:20] elrayle opened #61 "Document language processing in QA"
This will describe expectations around language processing.  The documentation is partially complete and lives at the [QA wiki](https://github.com/samvera/questioning_authority/wiki/Language-processing-in-Linked-Data-authorities).

[2019-03-15 13:22] elrayle commented on #55
[QA 4.0.0](https://github.com/samvera/questioning_authority/releases/tag/v4.0.0) has been released.

[2019-03-15 13:22] #55 closed

[2019-03-15 14:48] eichmann commented on #16
Resolved.  There's an attribute in my SPARQL query tag that allow turning on and off the syntactic sugaring around literals and URIs so I can render them in tables as well as return parsable triples.  The flag was just set the wrong way.  Things should be working properly across the board for works and instances for all SHARE sources.

[2019-03-15 15:35] elrayle opened #62 "sometimes id is an empty string"
Ex. http://lookup-stg.ld4l.org/authorities/search/linked_data/dbpedia_ld4l_cache?q=Barack%20Obama&maxRecords=4

Results:
![image](https://user-images.githubusercontent.com/6855473/81714390-0376e800-9445-11ea-8fe1-378e6f173db1.png)

This appears to be the case when an id predicate is specified, but the property doesn't exist.  I don't know how broadly this occurs.  And I don't know how we want to h

[2019-03-15 15:46] sfolsom commented on #62
I can't get to the data from the localhost link above. @elrayle can you share the response? Also what is meant by the id predicate is specified, but the property doesn't exist? Specified in a query, but doesn't exist in the data?

[2019-03-18 22:44] gracianipicardo opened #63 "Request Ligatus' Language of Bindings"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

More information about making a request can be found at https://wiki.duraspace.org/display/LD4P2/Request+a+New+Dataset+For+QA

Please perf

[2019-03-19 13:01] elrayle opened #64 "allow all predicates to be specified as ldpath"
Example:  Bibframe ontology uses a URI for the title.  This needs to be dereferenced using an ldpath to get the actual title label.  This is seen in all the ShareVDE authorities.

[code]

[2019-03-25 02:20] elrayle opened #65 "Resolve LDPath ascii tree parse error for complex paths"
Issue in ldpath gem: https://github.com/cbeer/ldpath.rb/issues/4

[2019-03-25 16:24] RobertRohr opened #66 "Request GAMECIP - Computer Game Platforms"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

More information about making a request can be found at https://wiki.duraspace.org/display/LD4P2/Request+a+New+Dataset+For+QA

Please perf

[2019-03-25 18:45] eichmann commented on #50
The active instances (really new and revised) have authoritativeLabels.  The deprecated don't - apparently only have variantLabels...  Suggestions?

[2019-03-25 18:48] eichmann commented on #50
Also, would you like to handle the subauthority selection via a request parameter or have each with a separate service?

[2019-03-26 14:46] eichmann commented on #26
Blending the spreadsheet configuration with @elrayle 's Jan 16 configuration, we now score prefLabel at 10, altlabel at 2 and broader/narrower at 1 for boost values.  Let's see what that does to scoring.  We're set up to tweak scores (and add additional search items) pretty much at will now.

[2019-03-28 20:07] tworrall commented on #35
Per Lynette's direction, refactored the code to follow the subauthority_for structure. As a result, had to add a third subauthority ("all"), modify some existing tests and add two new tests.

[2019-03-28 20:14] tworrall commented on #49
Sinopia currently does support (1) importing multiple profiles and (2) saving an imported profile as a resource template. (At least I think that's how it's supposed to work.)

Am working on restructuring the Sinatra 45 profiles so that they can be loaded automatically into Sinopia the way it currently loads the Monograph resource template.

[2019-03-28 20:41] tworrall commented on #52
The QA wiki has been expanded, so I've adapted the README file to fit the new structure. As soon as the code reviews are complete, I'll push the documentation to the wiki.

[2019-03-28 20:42] tworrall commented on #36
Made dome test modifications and added two new tests as a result of the requested code refactor.

[2019-04-05 12:35] sfolsom commented on #50
@eichmann The variant labels on the deprecated authority should bring up the deprecated authority along with the deletion note, and along with use instead pointers to the preferred authorities. See: http://id.loc.gov/authorities/genreForms/gf2011026651.html

[2019-04-05 12:37] elrayle opened #69 "LCNAF: Include all triples related to exteneded context in search results"
If we pass a graph that includes all triples related to the extended context defined in the locnames_ld4l_cache config, then ldpath gem will be able to extract those values from that context.

Missing extended context is...
* madsrdf:hasVariant/madsrdf:variantLabel
* madsrdf:identifiesRWO/madsrdf:fieldOfActivity/schema:label
* madsrdf:identifiesRWO/madsrdf:fieldOfActivity/madsrdf:authoritativeLabe

[2019-04-05 12:38] tworrall commented on #49
I have most of the Sinatra profiles loading into a local copy of Sinopia -- "most" because I left out a few that are not involved in the Discogs mapping.

Next step is to get Discogs implemented in the QA server. I have a local instance of that running and it uses the QA discogs branch, but a json config file is still needed. I'll talk to @elrayle about how that works.

[2019-04-05 12:42] sfolsom commented on #47
@eichmann where do we stand with indexing MESH from NLM, rather than BioPortal: ftp://nlmpubs.nlm.nih.gov/online/mesh/rdf/2018/ rather than http://bioportal.bioontology.org/?

[2019-04-05 14:05] elrayle commented on #65
This is fixed by using parentheses to establish precedence on order of processing of the ldpath parts.

Example:

Use this...
[code]

Instead of this...
[code]

Updated in locnames_ld4l_cache.

[2019-04-05 14:05] #65 closed

[2019-04-05 14:40] elrayle opened #70 "weight exact match higher than match + additional text"
DAVE indexing needs to be tweaked to weight exact matches heavier than a match that is a match + additional text (e.g. “Twain, Mark, 1835-1910” ranks higher then “Twain, Mark, 1845-1910 (Spirit)“)

https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache/person?q=Twain,%20Mark,%201835-1910&maxRecords=2

This issue applies to all authorities.

[2019-04-05 15:22] elrayle commented on #64
Related to Issue #16 - support for ShareVDE

[2019-04-05 15:28] elrayle commented on #53
3 options for completing this work:

OPTION 1: Cache system returns Authority as the subject URI.  When a user selects an entity, requests the entity from QA and extracts the RWO URI to use as the value of the field.

OPTION 2: Cache system returns RWO as the subject URI.  LC adds a reciprocal relationship from the RWO to the Authority to allow for extraction of additional context from the Authori

[2019-04-05 17:19] elrayle commented on #50
@eichmann @sfolsom I am going to summarize what I understand to be what we need here based on discussions at the Cornell meeting this morning.

There should be a single lookup & batch URL that searches across all search fields listed under the search column in the [spreadsheet](https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=696491968).  This will inclu

[2019-04-05 17:28] elrayle commented on #16
I am closing this issue as the initial implementation is deployed on production.

Remaining work:
* #64 Support all predicates being specified using LDPath. Right now, the primary label is a URI that needs to be dereferenced to find the actual label.
* Continue to update/bring in new data as it is available.

[2019-04-05 17:28] #16 closed

[2019-04-05 17:31] elrayle commented on #56
This was fixed by PR https://github.com/samvera-labs/ldpath/pull/7

[2019-04-05 17:31] #56 closed

[2019-04-05 17:39] elrayle opened #71 "refactor existing VDE logic to share a common processing core"
In prep for the tsunami of cohort catalogs, the existing VDE logic needs to be refactored to share a common processing core.

[2019-04-08 14:11] eichmann commented on #53
Re option 3 - since there's already a property that binds the authority URI to the RWO URI, there's no real challenge to using the RWO URI as the URI of interest, as SPARQL is agnostic as to binding to subject or object.  That is, given "s p o" for a given s, give me o is no more or less functional than for a given o, give me s.  Hence I don't need to inject the <???> triple for things to work on

[2019-04-08 14:43] eichmann commented on #69
@elrayle  This is getting a little complicated.  The object values for birth and death date are blank nodes.  The object values for birth and death place are authority name URIs.  Are you looking for me to collapse these chains down to what you list above, or return the chains in order to provide the labels?

[2019-04-08 15:43] eichmann commented on #47
@sfolsom triple stores are updated to current (Apr 2019).  Now the crux of the biscuit - we have concepts with labels and preferred terms, and terms with preferred labels. Should I use concepts or terms as the URIs of interest?

[2019-04-08 15:47] bushmanb commented on #47
@eichmann We would want the URIs for the preferred concepts.  Thanks.

[2019-04-08 15:52] eichmann commented on #47
Note also that vocab#Descriptor does not appear in the data...

[2019-04-08 15:54] eichmann commented on #47
Hence
<http://id.nlm.nih.gov/mesh/C000002>    <http://id.nlm.nih.gov/mesh/vocab#preferredConcept>     <http://id.nlm.nih.gov/mesh/M0040005>

means I index M0040005, correct?

[2019-04-08 16:07] bushmanb commented on #47
I am not sure why vocab#Descriptor is not appearing the data.  That is why at want. We only want URIs that contain D numbers.  We do not want URIs with C numbers or M numbers.

[2019-04-08 16:27] danizen commented on #47
This is correct.   Our vocabulary says that `meshv:TopicalDescriptor` is a subclass of `meshv:Descriptor`, likewise `meshv:GeographicalDescriptor` and `meshv:PublicationType`.   This is covered on our documentation page about descriptors.

If you index each of these, great, but this does raise the question about how you can find them in a single query, without inference, without the performance im

[2019-04-08 17:36] sfolsom commented on #47
Yes, sorry about this @eichmann. (I thought I had a note in the spreadsheet about having to query for subclasses of meshv:Descriptor, but I don't see it there anymore.

@danizen, thanks for the note about inactives. Is this a case where the inactives are deprecated and point to something that replaces them? If so, we can follow a pattern we're attempting with madsrdf:DeprecatedAuthority resources

[2019-04-08 17:54] danizen commented on #47
Sometimes it is reasonable to figure out the new descriptor, using the magic reasoning powers of RDF.
Consider the "Fate of deleted descriptors" download from What's [New?](https://www.nlm.nih.gov/mesh/whatsnew.html)

9 descriptors are retired, and unsurprisingly, [this query ](https://id.nlm.nih.gov/mesh/query?query=PREFIX+rdf%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%

[2019-04-08 18:23] danizen commented on #47
If you are interested also in representing hierarchy, consider `meshv:broaderDescriptor` over the MeSH tree.   The mesh tree is a pure tree, and represents to some extent "dimensions" such as in SNOMED CT, but it also is true that a single descriptor can have multiple tree numbers.

If you use `meshv:broaderDescriptor`, you have what is I think a simpler problem - it is not a pure hierarchy, you m

[2019-04-09 15:37] elrayle commented on #70
From @eichmann...

[2019-04-09 18:55] sfolsom opened #72 "Update Context Spreadsheet to account for SVDE Data"
Without decisions about what subauthorities, labels to search and display, and other context, SVDE data is going to be poorly represented in Sinopia. Will do a first pass of LDPath, etc. in https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=502967565 that can be tweaked by the cohort when needed. Probably needs yaml tests too...

[2019-04-09 20:31] sfolsom commented on #53
madsrdf:isIdentifiedByAuthority

[2019-04-10 02:48] sfolsom commented on #72
@elrayle  can you confirm if the syntax “bf:carrier / skos:prefLabel | bf:carrier / rdfs:label” is going to work for QA? (it combines / and | so I'm guessing it'll be ok)

[2019-04-10 02:50] sfolsom commented on #72
@elrayle @eichmann Also how can we get skos:prefLabels off of resources like <http://rdaregistry.info/termList/RDAContentType/1020> when SVDE links to them, but the labels aren't in the RDF? ... do we need to harvest the RDF from http://rdaregistry.info/termList/RDAContentType?

[2019-04-10 02:52] elrayle commented on #72
(bf:carrier/skos:prefLabel) | (bf:carrier/rdfs:label)

[2019-04-10 02:54] elrayle commented on #72
For QA to access them, the triple has to be in the extended graph I get from the cache system.  I leave it to @eichmann to comment on the feasibility of getting that data into the extended graph.

[2019-04-10 17:11] elrayle opened #73 "QA access to Share-VDE data for University of Colorado at Boulder"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:48] sfolsom opened #74 "QA access to Share-VDE data for Duke University"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:50] sfolsom opened #75 "QA access to Share-VDE data for Frick Art Reference Library"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:52] sfolsom opened #76 "QA access to Share-VDE data for Harvard University"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:53] sfolsom opened #77 "QA access to Share-VDE data for National Library of Medicine NLM"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:54] sfolsom opened #78 "QA access to Share-VDE data for Northwestern University"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:55] sfolsom opened #79 "QA access to Share-VDE data for Princeton University"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:56] sfolsom opened #80 "QA access to Share-VDE data for Harry Ransom Center"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:57] sfolsom opened #81 "QA access to Share-VDE data for Stanford University"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:58] sfolsom opened #82 "QA access to Share-VDE data for University of Texas A&M"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 01:59] sfolsom opened #83 "QA access to Share-VDE data for University of Alberta – NEOS consortia"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:00] sfolsom opened #84 "QA access to Share-VDE data for UC Davis"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:02] sfolsom opened #85 "QA access to Share-VDE data for University of Chicago"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:04] sfolsom opened #86 "QA access to Share-VDE data for UC San Diego"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:06] sfolsom opened #87 "QA access to Share-VDE data for University of Michigan at Ann Arbor"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:06] sfolsom opened #88 "QA access to Share-VDE data for University of Minnesota"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:07] sfolsom opened #89 "QA access to Share-VDE data for University of Pennsylvania"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:08] sfolsom opened #90 "QA access to Share-VDE data for University of Washington"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [ ] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 02:10] sfolsom opened #91 "QA access to Share-VDE data for Yale University"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [x] data in cache server
  - [x] data ingested into triplestore cache
  - [x] data indexed
  - [x] batch and lookup api available for use
- [x] configured in QA
  - [x] term and search configuration
  - [x] subauthority configuration (if applicable)
- [x] connection tests
  - [x] term and search connection tests
    - [x] written
    - [x] on producti

[2019-04-12 13:51] tworrall commented on #49
Search portion of the Discogs lookup is implemented in a Cornell demo branch and includes context.

[2019-04-12 13:51] elrayle commented on #69
@eichmann To summarize our conversation, we decided that you will pass the graph as is to the edges required to include all extended context.  This will include blank nodes in the original graph.  QA will use ldpath to traverse through the graph to the final content to display.

[2019-04-12 13:54] elrayle commented on #53
@eichmann To summarize our discussion, we will proceed with OPTION 3 where RWO will be the subject of results and the cache system will inject the `<RWO_uri> <madsrdf:isIdentifiedByAuthority> <authority_uri>` triple for each result.

[2019-04-12 15:51] elrayle opened #92 "Expand QA extended content to create sets driven from subgraph"
## Description:

Most extended context describes some property about the search result subject.  It may be a triple directly off the subject, or it may require a more complex ldpath description to get to the value.

In this case, the extended context is about an entity in the extended context.  For example, there is an `agent` for a `work`.  The `agent` is a piece of extended context about the `wo

[2019-04-12 15:52] elrayle commented on #92
@sfolsom @hudajkhan Can you review the proposed design?

[2019-04-12 17:02] hudajkhan commented on #92
From the interface end, the proposed solution follows the same pattern as before (an array of properties) but now adds in the possibility of an element that is "sets" which includes multiple arrays where each array has properties that together define the same object/context node.  I think we can work with that so am ok with the design at this point.

[2019-04-18 21:00] tworrall commented on #49
I was able to set up a fetch term path in the apidoc.json file and have the QA server called when the user selects an item in the lookup. The "jsonld" format parameter gets correctly sent to QA, and QA returns the JSON-LD to Sinopia. I've taken this issue as far as possible until further Sinopia development occurs, so I'm closing it.

[2019-04-18 21:00] #49 closed

[2019-04-19 13:42] zimeon commented on #92
@sfolsom -- would be good to understand which use cases / authorities we need this facility for

[2019-04-19 14:09] elrayle commented on #51
@jgreben Based on your example, it looks like this will include an entry per subauthority?  Can you confirm?

[code]

My only question of the data shown is for the uri.  That looks like an internal id for sinopia profiles.  Is that correct?  I wouldn't really have an easy way to insert that.

[2019-04-22 16:25] jgreben commented on #51
Hi @elrayle Yes, the way I coded it was to make a distinct entry for each subauthority, but we could entertain the idea of a more nested JSON doc. Any thoughts on that?

The URI/URN gets automatically inserted into the template based on whatever ends up in this config doc, so the auth lookup config will be the originating source of this info. That being the case, can you generate one based on the

[2019-04-23 18:04] elrayle commented on #51
Solution:
* uri will be structured as: `"uri": "urn:qa:oclcfast_ld4l_cache:personal_name"`
* component will be dropped

[2019-04-26 13:42] zimeon commented on #13
Tests in https://github.com/LD4P/qa_server/blob/master/lib/generators/qa_server/templates/config/authorities/linked_data/scenarios/locperformance_ld4l_cache_validation.yml

[2019-04-26 13:42] tworrall commented on #35
The Discogs [pull request in QA](https://github.com/samvera/questioning_authority/pull/220) has been merged. Closing this issue.

[2019-04-26 13:42] #35 closed

[2019-04-26 13:42] tworrall commented on #36
The Discogs [pull request in QA](https://github.com/samvera/questioning_authority/pull/220) has been merged. Closing this issue.

[2019-04-26 13:42] #36 closed

[2019-04-26 13:42] tworrall commented on #52
The Discogs [pull request in QA](https://github.com/samvera/questioning_authority/pull/220) has been merged. Closing this issue.

[2019-04-26 13:43] #52 closed

[2019-04-26 13:57] sfolsom commented on #72
First pass complete. Needs feedback from folks expecting to use SVDE data.

[2019-04-26 14:45] elrayle opened #93 "non-ascii characters in query string throws exception"
## Description:

When query string has non-ascii characters, an exception is thrown.

## Expected

Query for: `tāshā`
Using URL:  http://services.ld4l.org/ld4l_services/loc_performance_batch.jsp?query=tāshā&maxRecords=20&lang=en

Returns results.

## Actual

Query for: `tāshā`
Using URL:  http://services.ld4l.org/ld4l_services/loc_performance_batch.jsp?query=tāshā&maxRecords=20&lang=en

Gets error

[2019-04-26 16:48] elrayle commented on #93
Even simpler fix.  All parameters have to option to be encoded by adding `encode: true` to the parameter mapping.  So the fix is to change the mapping for query to...

[code]

This requires no code changes to QA.  It is a configuration only change.

[2019-04-26 17:03] #93 closed

[2019-04-26 17:15] elrayle opened #94 "Failure to process query with stop words"
## Description

When a stop word is included in the pref label and used in a search, the cache system fails to find a match.

## Expected

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_performance_batch.jsp?query=spoils%20of%20war&maxRecords=20&lang=en'

to return a single match with URI: `http://id.loc.gov/authorities/performanceMediums/mp2016015015`

[2019-04-26 17:23] elrayle commented on #13
Ran the accuracy tests and saw 3 errors for queries...
* tāshā
* tʻaepʻyŏngso
* spoils of war (musical instrument)

The first two are due to a failure to encode the query before sending the search request.  The last one is a failure of the cache indexing to remove `of` from the query.

Solution:
* All configurations were updated to encode the query.  This fixed the first two problems. (PR #95)
* A

[2019-04-30 20:15] eichmann commented on #69
@elrayle ready for testing.

[2019-04-30 20:56] eichmann commented on #53
@elrayle @sfolsom early on the thought was two different interfaces - existing one and a new RWO-focused one.  Is that still the case or are we down to just the RWO approach?

[2019-05-02 12:12] elrayle commented on #51
@jgreben This is what I am actually producing...

**Term with no subauthorities OR fetching term across subauthorities**
[code]

**Search across subauthorities**
[code]

**Search within a subauthority**
[code]

NOTES ON LANGUAGE:
* QA supports requests for results to be returned in multiple languages, so the language is an array.  * The language shown is what is configured in the authority. If not

[2019-05-02 15:52] jgreben commented on #51
Thanks @elrayle Looks good! We can use the "search" action as the key to specify that the QA lookup component should be used for that authority.

The editor does not currently support the ability to set the accept_language in the request, but I created issue https://github.com/LD4P/sinopia_editor/issues/494 for that work to be done.

[2019-05-03 14:15] elrayle commented on #69
There are performance issues for the cache service when running the complex query that extracts out the extended context.  It has been temporarily reverted back to the non-extended context query.

[2019-05-03 14:26] hudajkhan opened #96 "Work on extending Sinopia to demo context returned from QA"

[2019-05-03 14:32] elrayle commented on #69
Sample query that is happening in the cache to find the extended context...  (from @eichmann in Slack)

[code]

[2019-05-07 14:32] eichmann commented on #69
@elrayle After some pondering, here's a new query that provides context for PersonalName and runs the previous query in parallel.  CorporateNames and Titles fail on the first part but succeed on the second part.  Once we roll in context for CorporateName and Title, we can replace the second part with two new type-specific subqueries.  This is deployed.

`    CONSTRUCT { ?s ?p ?o . ?o <http://www.l

[2019-05-07 14:33] eichmann commented on #69
CONSTRUCT { ?s ?p ?o . ?o <http://www.loc.gov/mads/rdf/v1#variantLabel> ?r . ?rws ?rwp ?rwo . ?rwo $rp ?rs } WHERE {
	    {
	      ?s ?p ?o .
	      ?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#PersonalName> .
	      OPTIONAL {
	        ?o <http://www.loc.gov/mads/rdf/v1#variantLabel> ?r
	        FILTER (isBlank(?o))
	      }
	      OPTIONAL {
	      	?s mad

[2019-05-16 19:11] hudajkhan commented on #96
Demo for LD4 conference work is done.  Included display of contextual information for lcnaf.  Work will continue on finishing this work for name authorities and genre forms.

[2019-05-20 21:15] elrayle commented on #47
@danizen When we were using BioPortal, we used the following for broader and narrower.  I'm wondering what they should be now.  I saw that you mentioned `meshv:broaderDescriptor` for broader terms.  Is there an equivalent for narrower?

For bioportal...
[code]

Proposed for NLM...
[code]

[2019-05-20 21:19] elrayle commented on #47
@danizen Looking at the data, there is a narrowerConcept and broaderConcept.  How do those fit into this discussion?

[2019-05-21 12:54] bushmanb commented on #47
There is no equivalent for narrower.  We only have the predicate meshv:broaderDescriptor.  You should be able to use inference to retrieve all narrower terms.

Thanks,
Barbara

From: E. Lynette Rayle <notifications@github.com>
Sent: Monday, May 20, 2019 5:16 PM
To: LD4P/qa_server <qa_server@noreply.github.com>
Cc: Bushman, Barbara (NIH/NLM) [E] <bushmanb@mail.nlm.nih.gov>; Mention <mention@noreply

[2019-05-21 12:56] bushmanb commented on #47
For cataloging purposes, the concepts are only used see references to the main descriptor.  We do not care if they are broader or narrower concepts to other concepts.

Thanks,
Barbara

From: E. Lynette Rayle <notifications@github.com>
Sent: Monday, May 20, 2019 5:20 PM
To: LD4P/qa_server <qa_server@noreply.github.com>
Cc: Bushman, Barbara (NIH/NLM) [E] <bushmanb@mail.nlm.nih.gov>; Mention <mention

[2019-05-21 14:44] danizen commented on #47
for concepts, there is a concept of narrower, e.g. the concepts form a forest.    However, for descriptors, the "children" of the descriptor actually depend not just on the parent descriptor, but on its grandparent, and so on, e.g. the entire path of descriptors up to that point.  [The documentation](https://hhs.github.io/meshrdf/tree-numbers)  has a good demonstration of why this might be so.

An

[2019-05-21 15:27] eichmann commented on #47
So, summarizing this thread from the perspective of what I use to generate the index (and avoiding for now the nuances of descriptor broader/narrower semantics:

- Grab a descriptor (using @danizen's union scheme for Descriptor subclasses)
- snag the descriptor's preferredConcept and the pC's preferredTerm
- snag the pC's other Terms

then the "document" in Lucene is

- descriptor URI
- preferredT

[2019-05-21 15:41] eichmann commented on #47
`PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX meshv: <http://id.nlm.nih.gov/mesh/vocab#>
PREFIX mesh: <http://id.nlm.nih.gov/mesh/>

SELECT ?descriptor ?pc ?pt ?label
WHERE {
  { ?descriptor a meshv:TopicalDescriptor }
  UNION { ?descriptor a meshv:GeographicalDescriptor }
  UNION { ?descriptor a meshv:PublicationType } .
  ?descriptor meshv:preferredConcept ?pc .
  ?pc meshv:prefer

[2019-05-21 15:43] eichmann commented on #47
This gets us the target URI and a label.  Subsequent query would pick up the non-preferred Term labels.  Should we also include the altLabels present for terms?

[2019-05-21 16:01] eichmann commented on #47
scopeNotes of any utility as well?

[2019-05-21 16:19] danizen commented on #47
@eichmann, I asked the same question when trying to find all terms for a descriptor for the backend interfaces of NLM Classification, which is also focused on Library IT, and I was told that I didn't need the altLabel.

A descriptor may also have zero or more meshv:seeAlso object properties that relate that descriptor to other descriptors.

[2019-05-21 16:30] bushmanb commented on #47
@danizen is correct, we do not need the altLabels present for the terms, but scopeNotes and annotation are needed.

[2019-05-21 16:55] danizen commented on #47
@eichmann, I'm working on some RESTful APIs that will help, but you may wish to do it using our SPARQL endpoint anyway.

Also, If you want to collect all descriptors, I can provide a useful algorithm using meshv:broaderDescriptor to descend the hierarchy.

[2019-05-24 12:54] sfolsom opened #97 "QA access to RDA Registry (http://www.rdaregistry.info/termList/)"
- [ ] owner - IDENTIFY OWNER NAME IN COMMENT
- [ ] data in cache server
  - [ ] data ingested into triplestore cache
  - [ ] data indexed
  - [ ] batch and lookup api available for use
- [ ] configured in QA
  - [ ] term and search configuration
  - [ ] subauthority configuration (if applicable)
- [ ] connection tests
  - [ ] term and search connection tests
    - [ ] written
    - [ ] on producti

[2019-05-24 12:57] sfolsom commented on #97
Just the first list of terms for now (down to Video Format). Waiting on priorities from cohort.

[2019-05-24 13:46] sfolsom commented on #97
Each value list could/should be treated as a sub-authority.

[2019-05-24 14:51] sfolsom commented on #72
@eichmann I've made changes to the LDPath for SVDE that need to be reflected in the context provided back in DAVE. https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=502967565

[2019-05-24 14:55] sfolsom commented on #97
Spreadsheet LDPath available here: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=2063222786 (the SKOS behavior consistent across the different lists)

[2019-05-28 18:32] sfolsom commented on #47
I've updated the MESH Context information based on comments above and the move to LDPath for describing desired context, https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=2113261477 (@eichmann note that you can simplify the prefLabel queries by using the rdfs:labels on meshv:AllowedDescriptorQualifierPair and  meshv:Descriptor individuals.)

[2019-05-30 15:06] eichmann commented on #94
Filtering of stop words in conjunctive query processing now in place.

[2019-05-30 15:18] eichmann commented on #15
Here's a list of class instance counts from a just-completed triplestore load:

6130 owl:Class ;
19579 owl:DatatypeProperty .
46941 owl:ObjectProperty .
6130 owl:Restriction ;
68362885 schema:Article ;
58935966 schema:Dataset ;
 312 schema:Dataset,
7423600 wikibase:GlobecoordinateValue ;
26226739 wikibase:Item .
30495072 wikibase:Item ;
6130 wikibase:Property,
3996256 wikibase:QuantityValue ;
5159

[2019-05-30 22:34] michelleif opened #98 "test"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

More information about making a request can be found at https://wiki.duraspace.org/display/LD4P2/Request+a+New+Dataset+For+QA

Please perf

[2019-05-30 22:39] #98 closed

[2019-05-31 13:45] #72 closed

[2019-05-31 14:01] elrayle commented on #53
Dave in Slack (05-29-2019)

[2019-05-31 14:37] elrayle opened #99 "query results should allow for matches using stemming"
The index can support stemming (e.g. exit matches exit, exits, exiting, exited).

Reported by @michelleif in slack 05-30-2019

With and without an 's' is a clear stemming example that should be straightforward to resolve.

Reported by @michelleif in slack 05-30-2019

This one is less clear and may require discussion to determine the appropriate way to move forward.

[2019-05-31 15:21] eichmann commented on #70
loc_rwo_name_batch2.jsp with standard arguments has exact match search logic and is ready for testing.

[2019-05-31 17:17] hudajkhan opened #100 "API doc changes request"
The Sinopia code currently uses the Swagger documentation to formulate the actual API call to be made to retrieve information from QA.  For example, client.apis.SearchQuery.GET_searchAuthority corresponds to the call tagged with "SearchQuery" with format "/search/linked_data/{vocab}" and operationId "GET_searchAuthority" . If the tag has a space in it in the documentation, I have not been able to

[2019-05-31 17:17] hudajkhan commented on #100
`{
  "openapi": "3.0.1",
  "info": {
    "title": "QA 2.2 Linked Data API",
    "version": "2.2",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://lookup.ld4l.org/authorities",
      "description": "LD4L Lookup - QA v2.2 API Server"
    },
    {
      "url": "http://localhost:3000/autho

[2019-05-31 17:23] hudajkhan commented on #100
[apidocchanges.txt](https://github.com/LD4P/qa_server/files/3242248/apidocchanges.txt)

[2019-05-31 17:23] hudajkhan commented on #100
https://github.com/LD4P/sinopia_editor/blob/cornelldemo_discogs/src/lib/apidoc.json#L1056

[2019-05-31 17:24] hudajkhan commented on #100
In the Discogs example, the tags and operation ids are different for the non-LD QA calls than the LD calls.

[2019-05-31 17:36] eichmann commented on #70
Version 2 (exact match) deployed on services.ld4l.org for testing:
- [ ] agrovoc_batch.jsp
- [ ] dbpedia_batch.jsp
- [ ] dbpedia_name_batch.jsp
- [ ] fast_batch.jsp
- [ ] geonames_batch.jsp
- [ ] getty_batch.jsp
- [ ] loc_demographics_batch.jsp
- [ ] loc_genre_batch.jsp
- [ ] loc_instance_batch.jsp
- [ ] loc_name_batch.jsp
- [ ] loc_performance_batch.jsp
- [ ] loc_rwo_name_batch.jsp
- [ ] loc_subj

[2019-05-31 18:21] michelleif opened #101 "lookup to LOC Names does not return expected result"
searched for `seattle`
in QA cache of LOC Names
https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache?q=seattle

and expect to find this:
https://lookup.ld4l.org/authorities/show/linked_data/loc/names/n79041965
for city of seattle but it doesn't appear

it doesn't appear if you search on the full label `seattle (wash.)` either
https://lookup.ld4l.org/authorities/search/linked_

[2019-05-31 21:55] eichmann commented on #101
New loc_name_batch2.jsp returns n79041965 as rank 1 for a query of "Seattle (Wash.)".  Note that the exact name logic is inherently case sensitive if you want it performant...

[2019-05-31 22:38] michelleif commented on #101
Did you fix something or you're telling me there's already a way to find Seattle (Wash.)?

[2019-06-03 17:50] michelleif commented on #101
@eichmann I don't see this change reflected via sinopia or using the lookup.ld4l.org URL
@sfolsom do we want case-sensitive searching? I was expecting case-insensitive

[2019-06-03 22:09] michelleif opened #198 "in Values/URI dropdown, support forthcoming id.loc.gov database of LC Works"
LC plans to have their entire database of Works available at id.loc.gov for querying, by end of June 2019.

add this source as a new lookup in Sinopia.

we will need another entry in the Values/URI dropdown, and corresponding entry in https://github.com/LD4P/sinopia_editor/blob/master/static/spoofedFilesFromServer/fromSinopiaServer/lookupConfig.json

[2019-06-04 20:03] sfolsom commented on #69
I've made updates to the spreadsheet related to the sub-authorities for LCNAF. Still trying to figure out how much attention to give madsrdf:Titles (they will have analogous bf:Works/bf:Instances soon). For the updates see: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=745128104

[2019-06-05 12:47] sfolsom commented on #26
Hi @AdamSchiff, I'm updating the spreadsheet that I believe you worked on to adhere to changes we've made to the spreadsheet structure (https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=612799256), and I've noticed that it looks like there's an expectation that QA would allow the cataloger to look up and link to madsrdf:Collections like http://id.loc.gov/

[2019-06-05 23:24] AdamSchiff commented on #26
Hi @sfolsom, I have checked with our metadata specialists here and they agree with you that it would make more sense to look up and link to the skos:Concepts and note what madsrdf:Collections the concept is a member of in the contextual information QA brings back.

Theo Gerontakos wrote: "I think our entry reflects a poorly-formed understanding of QA lookups and of Sinopia – which is understandabl

[2019-06-07 12:27] elrayle commented on #70
Tested this using the batch2 jsps on 3 authorities and all looked good.

@eichmann This are ready to go live.  When you switch everything from batch2 to batch jsp, feel free to close this issue as fixed.

[2019-06-07 13:58] elrayle commented on #53
I updated the QA configs to match the spreadsheet.

**Subauths:**  person, organization, family, geographic, conference
**Context:** all fields defined in the spread sheet are available to all subauths

There are a few questions in the spreadsheet.
* Organization-`Location` vs. Family-`Location` -- have different ldpaths
* Geographic and ConferenceName `Preferred Label` uses `madsrdf:authoritative

[2019-06-07 19:51] eichmann commented on #70
xxx_batch2.jsp files have been mapped to xxx_batch.jsp

[2019-06-07 19:51] #70 closed

[2019-06-17 16:22] sfolsom commented on #26
Great! Thanks for the feedback.

[2019-06-19 15:08] sfolsom opened #115 "Implement LDPath for SVDE in DAVE and QA"
For lookups with context for SVDE, implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=502967565

[2019-06-19 15:15] sfolsom opened #116 "Implement LDPath for LCSH in DAVE and QA"
For lookups with context for LCSH, implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=221282005

[2019-06-19 15:19] sfolsom opened #117 "Implement LDPath for MESH in DAVE and QA"
For lookups with context for MESH, implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=2113261477

[2019-06-19 15:22] sfolsom commented on #47
Accidentally made a new issue for LDPath: https://github.com/LD4P/qa_server/issues/117

[2019-06-19 15:28] sfolsom opened #118 "Implement LDPath for LCGFT in DAVE and QA"
For lookups with context for LCGFT, implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=696491968

[2019-06-19 15:31] sfolsom opened #119 "Implement LDPath for Getty ULAN in DAVE and QA"
For lookups with context for ULAN, implement related LDPath in DAVE and QA https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=0

[2019-06-19 15:32] sfolsom opened #120 "Implement LDPath for Getty AAT in DAVE and QA"
For lookups with context for Getty AAT, implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=121036087

[2019-06-19 15:34] sfolsom opened #121 "Implement LDPath for Getty TGN in DAVE and QA"
For lookups with context for Getty TGN, implement related LDPath in DAVE and QA:
 https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=611820102

[2019-06-19 15:38] sfolsom opened #122 "Implement LDPath for FAST in DAVE and QA"
For lookups with context for FAST, implement related LDPath in DAVE and QA:
 https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=1966574591

[2019-06-19 15:39] sfolsom commented on #26
Updated the spreadsheet. For lookups with context for SVDE, please implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=612799256

[2019-06-19 15:41] sfolsom commented on #13
For lookups with context, implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=239265704

[2019-06-19 15:42] sfolsom opened #123 "Implement LDPath for Geonames in DAVE and QA"
For lookups with context for Geonames, implement related LDPath in DAVE and QA: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=2042338566

[2019-06-19 15:44] sfolsom commented on #66
LDPath can be found here: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=695891621

[2019-06-19 15:45] sfolsom commented on #42
LDPath has been updated: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=904237238

[2019-06-19 19:09] sfolsom commented on #123
Based on https://lookup.ld4l.org/authorities/search/linked_data/geonames_ld4l_cache/area?q=France&maxRecords=4 it looks like the weighting of gn:parentCountry is too high (as compared to gn:name directly on a gn:Feature).

[2019-06-21 14:12] elrayle opened #124 "Add db tables to track performance over time"
QA now optionally returns performance data with search results and term fetch.  We'd like to track this over time to identify how each authority is performing.  And view trends to determine if performance changes over time.

REF PR #28

[2019-06-22 14:11] elrayle opened #125 "loc_names_rwo_ld4l_cache - blanknodes that are for different entities share the same blanknode identifier"
In the results of…
[code]

has the following triples…
[code]

The symptom I’m seeing is the variant label for n89103996 is showing up in the list for n2017045245.

CAUSE: blanknode numbering is being reused across entities.  Each entity starts counting over again at 0.

I marked this as Infrastructure because I believe it applies to all authorities that have extended context.

[2019-06-24 15:11] eichmann commented on #125
It appears that Jena tidies the blank node IDs as it returns them.  The tag library currently generates a new model for each entity.  I _think_ that I can check for an existing model and then merge the new results which _should_ finesse our problem.  This will take some testing though...

[2019-06-27 23:22] sfolsom opened #126 "Improve Search for Geonames Cache"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] In a Sinopia template for the geonames cache, when searching "New York" there are no results in the top 8 that have "New" or York" in the results
- [X] If applicable, please update and provide links related to existing tests, e.g. https://github.com/LD4P/qa_server/tree/master/lib/generators/qa_serve

[2019-06-28 13:44] sfolsom opened #127 "Improve relevancy for Dbpedia"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] “volleyball” (or any characters after “volley…”) does not bring back http://dbpedia.org/resource/Volleyball

I'll create a test in https://github.com/LD4P/qa_server/blob/9b0a8e2435d95ba03b66be828be8c0405e014147/lib/generators/qa_server/templates/config/authorities/linked_data/scenarios/dbpedia_ld4l_

[2019-06-28 18:02] sfolsom commented on #126
see: https://github.com/LD4P/qa_server/pull/129

[2019-06-28 18:04] sfolsom commented on #126
the issue based on the screenshot available at https://docs.google.com/document/d/1UxSeZ9xWpIZ__UxzMAtJGlXUrRzY-yZ3OukZNw2FDrg/edit?usp=sharing suggests that there is some stemming that is causing "Yo" resources to come back ahead of "York"

[2019-06-28 18:24] sfolsom opened #131 "Getting results in type ahead without requiring a space after a search term"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary. Many type ahead searches currently require adding a space after the term in order to get results that make sense.
- [X] If applicable, please update and provide links related to existing tests, https://github.com/LD4P/

[2019-06-28 19:11] sfolsom opened #133 "Lookups generally shouldn't be case sensitive"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary. LOC all genres gets different results depending on whether you type "Maps " or "maps " (both with a space.
- [X] If applicable, please update and provide links related to existing tests, e.g. https://github.com/LD4P/qa

[2019-06-28 19:53] sfolsom opened #134 "Type ahead support for incomplete words"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary. Would expect type ahead to work with incomplete words, e.g. "vonnegu" would provide any number of "Vonnegut" from LCNAF
- [ ] If applicable, please update and provide links related to existing tests. Not sure how to wr

[2019-06-28 20:05] sfolsom opened #136 "Relevancy for LOC place"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary. http://id.loc.gov/authorities/names/n79045553 should come up sooner when searching "Boston Mass" than other terms that have those terms
- [X] If applicable, please update and provide links related to existing tests. ht

[2019-07-02 14:06] elrayle commented on #50
Expected workflow...
* search all
* for deprecated, show in context `useInstead` and the label of the useInstead URI
* in Sinopia, if user selects a deprecated entity, use the `useInstead` URI and label instead of selected entity's URI and label

[2019-07-02 15:51] elrayle commented on #50
PR https://github.com/cul-it/qa_server/pull/81 updates QA configuration to match [spreadsheet](https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=696491968)

[2019-07-09 14:38] eslao opened #139 "Search for LOC subjects fails when string includes parenthesis"
- [x] Please describe the expected performance and accuracy of a particular vocabulary.
Searches for LOC subjects should return results for strings that include parentheses. These searches seem to result in an error message.

- [x] If applicable, please update and provide links related to existing tests, e.g. https://github.com/LD4P/qa_server/tree/master/lib/generators/qa_server/templates/config/a

[2019-07-09 15:38] eslao opened #140 "Getty ULAN results do not include agents, do include non-agents"
- [x] Please describe the expected performance and accuracy of a particular vocabulary.
Expected results from Getty ULAN lookup include persons and organizations. Results do not include these, but do include items from other Getty vocabularies (materials, etc).

- [x] If applicable, please update and provide links related to existing tests
Test: https://github.com/LD4P/qa_server/blob/master/lib/ge

[2019-07-10 13:03] elrayle opened #141 "Remove subauthorities for locsubjects_ld4l_cache"
### Description

Make sure that the subauthorities are consistent with the information in the [LCSH tab](https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=221282005) of the Indexing of External Data for Look-ups spreadsheet.

The spreadsheet has one EntityType = skos:Concept.  Subauthorities are commonly broken on entity type.

I interpret the spreadsheet

[2019-07-10 13:12] elrayle opened #142 "Identify queries for LCSH that include results with the extended context"
### Description

Test that all extended context defined in the B column of the [LCSH tab](https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=221282005) of the Indexing of External Data for Look-ups spreadsheet are being returned in search results.

### ACTION

To do this, queries will be identified that have values for those context fields.

### Related Wo

[2019-07-10 13:13] elrayle commented on #142
| extended context | query | expected value |
| ----------------- | ------ | --------------- |
| Preferred label | | |
| Alternate label | | |
| Type | | |
| Broader | | |
| Narrower | | |
| Citation note | | |
| Citation source | | |
| Citation status | | |

[2019-07-10 13:20] elrayle commented on #116
### ACTION

- [ ] SPARQL query in cache updated to return context
- [ ] Configured in QA
- [ ] Running test queries in QA correctly extract out the extended context (Issue #142)

### Context:

* Preferred label = skos:prefLabel
* Alternative Label = skos:altLabel
* Type = rdf:type
* Broader = skos:broader / skos:prefLabel
* Narrower = skos:narrower / skos:prefLabel
* Citation note = madsrdf:hasSou

[2019-07-10 13:29] elrayle commented on #142
Moved this action to #116 Implement LDPath for LCSH in DAVE and QA since it is related to that issue.

[2019-07-10 13:29] #142 closed

[2019-07-10 13:43] elrayle opened #143 "Add pagination to every cached authority"
### Description

The cache system supports a starting page parameter that will allow the UI to page through search results.  This was added to LCGFT as a test and needs to be extended to all the other cached authorities.

### ACTION

Update the configuration for each cached authority.

Template URI should include...
[code]

and mapping should include...
[code]

[2019-07-10 13:46] elrayle commented on #143
- [ ] LOCNAMES_RWO_LD4L_CACHE
- [ ] LOCNAMES_LD4L_CACHE
- [ ] LOCSUBJECTS_LD4L_CACHE
- [ ] LOCGENRES_LD4L_CACHE
- [ ] LOCDEMOGRAPHICS_LD4L_CACHE
- [ ] LOCPERFORMANCE_LD4L_CACHE
- [ ] MESH_NLM_LD4L_CACHE
- [ ] GEONAMES_LD4L_CACHE
- [ ] OCLCFAST_LD4L_CACHE
- [ ] GETTY_AAT_LD4L_CACHE
- [ ] GETTY_TGN_LD4L_CACHE
- [ ] GETTY_ULAN_LD4L_CACHE
- [ ] DBPEDIA_LD4L_CACHE
- [ ] LIGATUS_LD4L_CACHE
- [ ] GAMECIP

[2019-07-10 14:48] sfolsom commented on #141
For it would be nice to have the subauthorities removed. I'm hoping for more direction from catalogers on whether sub-authorities would be useful and I need to confirm the madsrdf:DeprecatedAuthority pattern in LCSH. Both may lead to changes in the request.

[2019-07-10 14:53] elrayle commented on #127
Related Issues:
* #134 Type ahead support for incomplete words
* #99 query results should allow for matches using stemming

[2019-07-10 15:44] elrayle commented on #126
@eichmann I'm guessing that `New York` translates to `New && York` or `New || York`.  I can't remember which way this happens by default.  I would have expected the top match to be `'New York'` as an exact match.

[2019-07-10 15:53] elrayle commented on #131
@sfolsom When I perform a search using the test in #130, I see the expected result as the first result.

[code]

This translates to API request...

https://lookup.ld4l.org/authorities/search/linked_data/getty_aat_ld4l_cache?q=precious&maxRecords=4

with results...
[code]

Did you run the accuracy test and it reported different results?

[2019-07-10 16:34] sfolsom commented on #131
weird, control-F for 'precious' in the following doc to see the Sinopia screenshot: https://docs.google.com/document/d/1UxSeZ9xWpIZ__UxzMAtJGlXUrRzY-yZ3OukZNw2FDrg/edit?usp=sharing

[2019-07-10 16:38] sfolsom commented on #131
for the needed extra space issue check out the screenshots for the Geonames searches in https://docs.google.com/document/d/1UxSeZ9xWpIZ__UxzMAtJGlXUrRzY-yZ3OukZNw2FDrg/edit?usp=sharing

[2019-07-10 21:09] elrayle commented on #116
### Remaining Issues

Data coming back from cache is missing.
* Broader and Narrower do not have triples for their IDs nor labels
* madsrdf:hasSource triple exists with a blank node for the <object>, but the blank node does not have any predicates for madsrdf:citation-note, madsrdf:citation-source, madsrdf:citation-status

[2019-07-11 20:18] lindaisaac opened #144 "Add CERL to lookups"
Please add CERL Thesaurus to lookups - https://data.cerl.org/thesaurus/_search.
Added information to the spreadsheet.

[code]

[2019-07-12 15:41] elrayle commented on #26
### Context & Queries

The following table identifies extended context that should be added and queries that produce results with values for those context fields.

| extended context | query (result idx) | expected value | comments |
| ----------------- | ------ | --------------- | ----------- |
| Preferred label = skos:prefLabel | workers (0) | Social workers | |
| Broader = skos:broader / skos:p

[2019-07-12 15:43] elrayle commented on #26
@AdamSchiff Can you identify queries at id.loc.gov that includes data for `madsrdf:hasEarlierEstablishedForm / madsrdf:variantLabel` and `skos:related`?

[2019-07-12 15:46] elrayle commented on #26
@eichmann Can you update the SPARQL for LCDGT to return all extended context.  See the comments in the Context & Queries table to see which context is not coming back.  I don't have queries for earlier form and related yet, but I'd be surprised if those are coming back from the cache.  Hopefully, I'll have a way to verify that soon.

[2019-07-12 16:08] elrayle commented on #13
### Context & Queries

The following table identifies the extended context that should be added and queries that produce results with values for those context fields.

| extended context | query (result idx) | expected value | comments |
| ----------------- | ------ | --------------- | ----------- |
| Preferred label = skos:prefLabel | band (0) | band | |
| Alternative Label = skos:altLabel | band

[2019-07-12 16:42] elrayle commented on #13
@eichmann The cache is only returning madsrdf, while many context fields are defined using skos, most notable `prefLabel`.

curl -L -D - -H ‘Accept: application/n-triples’ ’http://services.ld4l.org/ld4l_services/loc_performance_batch.jsp?query=band&maxRecords=1&startRecord=1&lang=en'

Also, this curl statement requests 1 record, but gets back 13.

[2019-07-12 19:26] elrayle commented on #69
Working on RWO focus for Person, Organization, and Family.  And authority focus for Geographic and ConferenceName.

Observations:
* search for cayuga using RWO focus returns a Geographic name
* search for cayuga using authority focus returns an Organization name

Both of these are general searches without a subauthority specified.  Is this ok?

[2019-07-12 19:58] elrayle commented on #69
### Context & Queries

The following table identifies extended context that should be added and queries that produce results with values for those context fields.

#### locnames_rwo_ld4l_cache

| extended context | query (result idx) | expected value | comments |
| ----------------- | ------ | --------------- | ----------- |
| Type = rdf:type | Person: mark twain (0)  | [http://xmlns.com/foaf/0.1/

[2019-07-12 20:01] elrayle commented on #69
### loc_name_batch.jsp

entity=ConferenceName returns other entity types

http://services.ld4l.org/ld4l_services/loc_name_batch.jsp?query=ALA&maxRecords=4&entity=ConferenceName&lang=en

returns Geographic and PersonalName

Similarly I get CorporateName entities when entity=Geographic

http://services.ld4l.org/ld4l_services/loc_name_batch.jsp?query=Cayuga&maxRecords=4&entity=Geographic&lang=en

###

[2019-07-15 17:42] CECSpecialistI commented on #97
Any update on the RDA registry terms? Is there anything we can do to help move this one along? Was reading on Slack #authorities about the possibility of making vocabularies available as "pick lists" rather than lookups. These vocabularies might be ideal candidates for a list format.

[2019-07-15 19:04] CECSpecialistI commented on #90
@sfolsom @eichmann This is a second-tier issue for us at UW--would be nice but isn't essential to our planned workflows. Please prioritize the SVDE data of other institutions over ours in the QA.

[2019-07-16 18:21] sfolsom opened #145 "Add the skos assertions to DAVE for LCMPT"
Add the skos representation for LCMPT from http://id.loc.gov/download/ to the triplestore

[2019-07-16 18:21] sfolsom commented on #13
See also https://github.com/LD4P/qa_server/issues/145 for indexing the skos representations

[2019-07-16 19:36] elrayle commented on #50
### ACTION

- [ ] SPARQL query in cache updated to return context (@eichmann)
- [x] QA configured to return extended context (@elrayle)
- [ ] Identify queries that produce results with values for context fields (@sfolsom)
- [ ] Run test queries in QA correctly extract out the extended context (@elrayle)
- [ ] Push to production (@elrayle)

### Context & Queries

The following table identifies the

[2019-07-16 19:37] elrayle commented on #50
Question:
* Since context is different for deprecated and active, should they be defined as separate authorities?

[2019-07-16 20:01] sfolsom commented on #26
I was able to come up with a skos:related search (see above), but the madsrdf:hasEarlierEstablishedForm / madsrdf:variantLabel might need to be madsrdf:hasEarlierEstablishedForm / madsrdf:authoritativeLabel. But first I'd want @eichmann to take a look, because all of the values seem to be a blank node with a madsrdf:authoritativeLabel of "Presidents".

[2019-07-16 20:20] sfolsom commented on #69
@elrayle, the row of tests for Affiliation = madsrdf:hasAffiliation / madsrdf:organization / skos:prefLabel | madsrdf:hasAffiliation / madsrdf:organization / rdfs:label has been updated, for some reason the second query doesn't display fully but you should get the gist. Also, there was a typo in the spreadsheet LDath, rds:label should be rdfs:label.

[2019-07-16 21:00] sfolsom commented on #69
@elrayle  I've added a bunch of tests. Please let me know if need to do more/better.

[2019-07-16 22:39] sfolsom commented on #50
I've added missing queries.

[2019-07-16 22:40] sfolsom commented on #50
Because I'm having trouble coming up with specifics about how one config file might cause undesired data coming back, I say we go with one file and see if we want to revisit the decision later.

[2019-07-18 14:40] gracianipicardo opened #146 "Sound Capture and Storage (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x] Please consult the LD4P2 QA Authority Support

[2019-07-18 14:43] gracianipicardo opened #147 "Generation (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x] Please consult the LD4P2 QA Authority Support

[2019-07-18 14:45] gracianipicardo opened #148 "MARC Presentation Format List (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x] Please consult the LD4P2 QA Authority Support

[2019-07-18 14:47] gracianipicardo opened #149 "Projection (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x] Please consult the LD4P2 QA Authority Support

[2019-07-18 14:49] gracianipicardo opened #150 "Relief (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x] Please consult the LD4P2 QA Authority Support

[2019-07-18 14:51] gracianipicardo opened #151 "Scale (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x] Please consult the LD4P2 QA Authority Support

[2019-07-18 14:53] gracianipicardo opened #152 "MARC Identifier Status List (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x] Please consult the LD4P2 QA Authority Support

[2019-07-18 16:47] sfolsom commented on #144
@elrayle currently CERL doesn't seem to provide dumps. Using https://www.cerl.org/resources/cerl_thesaurus/sru is this candidate for direct access for now, until dumps might be provided?

[2019-07-19 12:53] sfolsom commented on #140
I believe Jeremy and Huda fixed this one.

[2019-07-19 13:07] sfolsom commented on #99
Would this issue cover support for type ahead with incomplete words, e.g. "vonnegu" bringing back "Vonnegut"?

[2019-07-19 19:43] sfolsom opened #155 "Searching variants in LCSH"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary.
See Issue name.
- [X] If applicable, please update and provide links related to existing tests, e.g. https://github.com/LD4P/qa_server/tree/master/lib/generators/qa_server/templates/config/authorities/linked_data/scena

[2019-07-19 19:44] sfolsom opened #156 "OCLC FAST (All) seems to be pointed at Person"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary.

When searching New York City, getting back a bunch of Person names
- [] If applicable, please update and provide links related to existing tests, e.g. https://github.com/LD4P/qa_server/tree/master/lib/generators/qa_se

[2019-07-23 15:09] eslao commented on #144
@elrayle @sfolsom We have just now been provided with a json-ld dump here: https://owncloud.gwdg.de/index.php/s/hvkrWqplJAMyp96

Is this helpful?

[2019-07-23 22:07] gerontakos commented on #26
I'm supplying this reply for @AdamSchiff.

Query for "Earlier Form":
**Extended Context:**
    Earlier form = madsrdf:hasEarlierEstablishedForm / madsrdf:variantLabel
**Query (result idx):**
    Lakota (North American people)
**Expected value:**
    Lakota Indians

Query for "Related":
**Extended Context:**
    skos:related / skos:prefLabel
**Query (result idx):**
    African Americans
**Expected

[2019-07-26 15:14] timathom commented on #91
👍

[2019-07-31 01:06] sfolsom opened #158 "Searching LCNAF without dates"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary.

One should be able to see names with dates associated with them even if the search term only includes the name. E.g. "Tweedy, Jeff" doesn't return the heading "Tweedy, Jeff, 1967-". You have to add the comma between J

[2019-07-31 01:23] sfolsom opened #160 "Geonames Subauths and relevancy"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary.

Geonames searches should include gn:Features and subauthorities based on gn:featureClass

Also, Chicago should return http://sws.geonames.org/4887398/.

- [X] If applicable, please update and provide links related to

[2019-08-01 19:53] alexiskeely commented on #97
+1 UW

[2019-08-02 13:41] elrayle opened #161 "UBER: update production with latest LOC changes in dev"
For all...
* [x] sync cul-it/qa_server authority configs and validations with ld4p/qa_server
* [ ] sync cul-it/qa_server authority configs and validations with ld4p/linked_data_authorities

## LCNAF

#### STATUS - ALL ISSUES RESOLVED - Deployed through to Sinpoia

#### Reference

[Indexing Spreadsheet - LCNAF tab](https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/

[2019-08-02 14:04] elrayle opened #162 "support n3 format for a single term"
Sinopia has the ability to read in n3 and populate a form.  If QA can return terms in n3, then the n3 can be copied into Sinopia.

This work will happen in QA.

Ref:  https://github.com/samvera/questioning_authority/issues/262

[2019-08-05 17:51] eslao commented on #140
This does not appear to be fixed.

[2019-08-05 18:34] sfolsom commented on #140
https://github.com/LD4P/sinopia_editor/pull/855 was merged, but now the lookup isn't working at all
<img width="545" alt="Screen Shot 2019-08-05 at 2 34 08 PM" src="https://user-images.githubusercontent.com/8257258/62486788-27a6e980-b78e-11e9-85b5-0fd251778d24.png">

[2019-08-07 18:39] mchildsuw opened #163 "Script (id.loc.gov)"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [ X] Please consult the LD4P2 QA Authority Suppor

[2019-08-12 18:53] elrayle commented on #146
@gracianipicardo I'm not seeing this on LOC's linked data download page (http://id.loc.gov/download/).  Do you know if this vocabulary is available as linked data?

[2019-08-12 18:55] elrayle commented on #148
@gracianipicardo I'm not seeing this on LOC's linked data download page (http://id.loc.gov/download/).  Do you know if this vocabulary is available as linked data?

[2019-08-12 18:55] #141 closed

[2019-08-12 18:56] elrayle commented on #141
@sfolsom If you decide to add deprecated/active as subauthorities, please open a new issue.

[2019-08-12 18:56] gracianipicardo commented on #146
@elrayle http://id.loc.gov/vocabulary/mcapturestorage.html

[2019-08-12 19:00] gracianipicardo commented on #148
@elrayle http://id.loc.gov/vocabulary/mpresformat.html. I am guessing all the other vocs I have requested won't be on the download page, but available on the vocabulary page in id.loc.gov.

[2019-08-14 15:58] mmcgee opened #199 "Add LOC Subject Schemes to list of available lookups"
**Describe the bug**
What went wrong? What did you expect to happen?

- What is the impact on your work? (can't work / work stoppage; workaround exists; minor issue)
- What environment are you in? (stage or production)
- What OS and browser are you using? (Mac/Windows; Safari, Firefox, etc.)
- If you're cataloging, what Resource Template were you using (name or ID)

**Please include a screenshot**

[2019-08-15 20:17] bushmanb opened #188 "MeSH search incorrectly provides variant term as a choice"
In using the sinopia user feedback template I used the lookup to add a MeSH.  I entered Vocational Training and retrieved a list of terms including Vocational Training. I selected Vocational Training since that matched my string, However, Vocational Training is an Entry Term (See Reference) to Vocational Education.  That is term and URI that I needed to use is Vocational Education.  Vocational Tra

[2019-08-15 20:20] bushmanb opened #197 "Incorrect URIs provided for MeSH"
The lookup for MeSH in the sinopia user feedback template is not providing the correct URIs.  For example, this is URI retrieved for Vocational Education  http://id.nlm.nih.gov/mesh/T043351
This is the URI to the term, but it should be retrieving http://id.nlm.nih.gov/mesh/D014829 which is for the descriptor.

[2019-08-16 14:36] jbaxmeyer opened #203 "LCSH results in alphabetical order?"
Can the results from LCSH be in alphabetical order?
<img width="353" alt="LCSHooo" src="https://user-images.githubusercontent.com/7747876/63175254-a5ca8200-c011-11e9-8382-bf4031a2bca6.PNG">

[2019-08-19 19:39] JoannaDatSUL opened #189 "duplicate result in Subject lookup"
Subject lookup (field 3) for LCSH "Public welfare" brought up a list with double entry for "Public welfare" (in stage, windows, chrome)
![image](https://user-images.githubusercontent.com/47638183/63294094-589f1800-c27e-11e9-8523-e72f49e868f9.png)

[2019-08-22 23:35] jsoenyun opened #168 "Add lookup for Creative Commons licenses"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [ ] Please consult the LD4P2 QA Authority Support

[2019-08-29 16:51] eichmann commented on #125
Fix for al CONSTRUCT-using interfaces deployed yesterday to wintermute for testing by @elrayle

[2019-09-03 13:29] sfolsom commented on #151
This was addressed in a Sinopia pull request last week (https://github.com/LD4P/sinopia_editor/pull/1294). It should be available for profiles now to lookup as typeahead list.

[2019-09-03 13:29] #151 closed

[2019-09-03 13:29] sfolsom commented on #151
This was addressed in a Sinopia pull request last week (https://github.com/LD4P/sinopia_editor/pull/1294). It should be available for profiles now to lookup as typeahead list.

[2019-09-03 13:29] sfolsom commented on #150
This was addressed in a Sinopia pull request last week (https://github.com/LD4P/sinopia_editor/pull/1294). It should be available for profiles now to lookup as typeahead list.

[2019-09-03 13:29] #150 closed

[2019-09-03 13:30] sfolsom commented on #149
This was addressed in a Sinopia pull request last week (https://github.com/LD4P/sinopia_editor/pull/1294). It should be available for profiles now to lookup as typeahead list.

[2019-09-03 13:30] #149 closed

[2019-09-03 13:30] sfolsom commented on #148
This was addressed in a Sinopia pull request last week (https://github.com/LD4P/sinopia_editor/pull/1294). It should be available for profiles now to lookup as typeahead list.

[2019-09-03 13:30] #148 closed

[2019-09-03 13:30] sfolsom commented on #146
This was addressed in a Sinopia pull request last week (https://github.com/LD4P/sinopia_editor/pull/1294). It should be available for profiles now to lookup as typeahead list.

[2019-09-03 13:30] #146 closed

[2019-09-06 18:50] jermnelson commented on #18
I'm not sure what adding this additional caching round-trip to the QA adds to our already working fast Elasticsearch index and direct download of RDF with LDP calls to Trellis for Sinopia managed resources.

[2019-09-06 18:54] sfolsom commented on #152
This was addressed in a Sinopia pull request last week (LD4P/sinopia_editor#1294). It should be available for profiles now to lookup as typeahead list.

[2019-09-06 18:54] #152 closed

[2019-09-09 06:09] michelleif commented on #47
from Barbara Bushman on slack august 22nd:
Not exactly sure if this will help with the QA tool, but we just released a Lookup Service API for MeSH at https://id.nlm.nih.gov/mesh/lookup/

[2019-09-09 06:13] michelleif commented on #145
slack comment from nancyl august 5th: LCMPT seems to missing the scope note, which should be set up like the one in LCGFT... There aren't huge numbers of them, but those that are there are important.

[2019-09-10 02:08] michelleif commented on #143
from sf433: With pagination catalogers can scroll through results to get to the thing they want (not limited to the first 8 that are displayed). Also, it means the cataloger can select more than one entity from the same search (assuming the field/property is repeatable).

[2019-09-10 17:29] bushmanb opened #175 "LC Code List for Cultural Heritage Organizations"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

I had reported a bug in Sinopia linked data editor testing and they said to submit it here.  https://id.loc.gov/vocabulary/organizations

[2019-09-11 18:19] elrayle commented on #116
@eichmann There are two action items in the last comment.  The first requires changes to the way the cache returns data.  It is labeled `Data coming back from cache is missing`.  The other action item is mine.

[2019-09-11 18:32] elrayle commented on #53
@sfolsom There are some questions about which ldpath to use in the previous comment under the `There are a few questions in the spreadsheet`.

[2019-09-11 19:13] elrayle opened #179 "cache for dbpedia does not dereference URI available directly"
Dereferencing resource Barack_Obama return `{}` as the results.

https://lookup.ld4l.org/authorities/fetch/linked_data/dbpedia_ld4l_cache?uri=http%3A%2F%2Fdbpedia%2Eorg%2Fresource%2FBarack_Obama

Accessing directly from the cache also returns 0 results.

[code]

Accessing the same URI directly from dbpedia does return RDF.

https://lookup.ld4l.org/authorities/fetch/linked_data/dbpedia_direct?uri=h

[2019-09-11 19:20] elrayle opened #180 "searching LCNAF RWO for 'golden notebook' under title subauth gives 0 results"
https://lookup.ld4l.org/authorities/search/linked_data/locnames_rwo_ld4l_cache/title?q=golden%20notebook&maxRecords=4&context=true

returns `{}`

Searching the cache directly also returns 0 results

[code]

Searching id.loc.gov returns 1 result for LCNAF with type=Title.

![image](https://user-images.githubusercontent.com/6855473/64727771-9c64f600-d4a7-11e9-9586-02854b361bfa.png)

[2019-09-11 19:26] elrayle commented on #180
NOTE: This was revealed by the test that was setup for the Title subauth of LCNAF.  To get the test to pass, the search query was switched to 'twain'.  This returns results. But when I look deeper, the results do not look correct.  They do not match the results found at id.loc.gov.  And the type=Organization.  It was expected that type=Title.

[2019-09-11 19:34] #51 closed

[2019-09-11 19:35] elrayle commented on #61
Closing: Documented here... https://github.com/samvera/questioning_authority/wiki/Language-processing-in-Linked-Data-authorities

[2019-09-11 19:35] #61 closed

[2019-09-11 19:36] elrayle commented on #28
Closing: Added to QA in PR https://github.com/samvera/questioning_authority/pull/236

[2019-09-11 19:36] #28 closed

[2019-09-11 19:38] elrayle commented on #124
Closing: Added in qa_server engine PR https://github.com/LD4P/qa_server/pull/166

[2019-09-11 19:38] #124 closed

[2019-09-11 19:39] elrayle commented on #162
Closing: Added in QA PR https://github.com/samvera/questioning_authority/pull/263

[2019-09-11 19:39] #162 closed

[2019-09-11 19:47] elrayle commented on #60
Closing: Address by QA PR https://github.com/samvera/questioning_authority/pull/191

[2019-09-11 19:47] #60 closed

[2019-09-11 19:48] elrayle commented on #94
Closing:  @eichmann put stop work support into the cache system.

[2019-09-11 19:48] #94 closed

[2019-09-11 19:54] elrayle commented on #64
Closing:  Added by PRs in QA

FindTerm - https://github.com/samvera/questioning_authority/pull/233
Search - https://github.com/samvera/questioning_authority/pull/229

[2019-09-11 19:54] #64 closed

[2019-09-11 19:57] elrayle commented on #125
Closing:  Fixed per @eichmann

[2019-09-11 19:57] #125 closed

[2019-09-11 19:58] elrayle commented on #71
Closing: Fixed per @eichmann

[2019-09-11 19:58] #71 closed

[2019-09-11 20:01] elrayle commented on #91
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:01] #91 closed

[2019-09-11 20:02] elrayle commented on #90
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:02] #90 closed

[2019-09-11 20:05] elrayle commented on #84
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:05] #84 closed

[2019-09-11 20:05] elrayle commented on #86
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:05] #86 closed

[2019-09-11 20:05] elrayle commented on #87
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:05] #87 closed

[2019-09-11 20:05] elrayle commented on #88
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:05] #88 closed

[2019-09-11 20:06] elrayle commented on #89
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:06] #89 closed

[2019-09-11 20:06] elrayle commented on #85
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:06] #85 closed

[2019-09-11 20:07] elrayle commented on #83
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:07] #83 closed

[2019-09-11 20:07] elrayle commented on #82
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:07] #82 closed

[2019-09-11 20:08] elrayle commented on #81
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:08] #81 closed

[2019-09-11 20:08] elrayle commented on #80
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:08] #80 closed

[2019-09-11 20:08] elrayle commented on #79
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:08] #79 closed

[2019-09-11 20:09] elrayle commented on #78
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:09] #78 closed

[2019-09-11 20:09] elrayle commented on #77
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:09] #77 closed

[2019-09-11 20:10] elrayle commented on #76
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:10] #76 closed

[2019-09-11 20:10] elrayle commented on #75
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:10] #75 closed

[2019-09-11 20:10] elrayle commented on #74
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:10] #74 closed

[2019-09-11 20:11] elrayle commented on #73
Closing: Deployed all the way through Sinopia.

[2019-09-11 20:11] #73 closed

[2019-09-11 20:18] elrayle commented on #13
Opened issue #145 to address the need for skos data.

[2019-09-11 20:30] eichmann commented on #145
@elrayle triplestore now contains both madsrdf and skos

[2019-09-11 20:34] eichmann commented on #180
@elrayle could you try this with entity=Work ?

[2019-09-12 13:36] elrayle opened #181 "LCNAF RWO does not include Affiliation data in search results"
search query: Carson, Tom, 1967-
loc id: n00000111
loc rwo uri: <http://id.loc.gov/rwo/agents/n00000111>

id.loc.gov has these triples related to Affiliation...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_rwo_name_batch.jsp?query=Carson%2C%20Tom%2C%201967-&maxRecords=1&entity=Person&lang=en'

The results returned from the cache has the follo

[2019-09-12 13:54] elrayle opened #182 "LCNAF RWO does not include Citation note or source in search results"
search query: Richardson, Lynn, 1942-
loc id: n00000045
loc rwo uri: <http://id.loc.gov/rwo/agents/n00000045>

id.loc.gov has these triples related to Citation note and source...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_rwo_name_batch.jsp?query=Richardson%2C%20Lynn%2C%201942-&maxRecords=1&entity=Person&lang=en'

The results returned from

[2019-09-12 16:45] #181 closed, assigned to eichmann

[2019-09-12 16:46] #182 closed, assigned to eichmann

[2019-09-12 19:08] elrayle opened #183 "LCMPT does not include Citation note, source, or status in search results"
authority: LCMPT
search query: band
loc id: mp2013015048
loc rwo uri: <http://id.loc.gov/authorities/performanceMediums/mp2013015048>

id.loc.gov has these triples related to Citation note, source, status...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_performance_batch.jsp?query=band&maxRecords=1&startRecord=1&lang=en'

The results returned

[2019-09-12 19:16] elrayle opened #184 "LCMPT does not labels for broader and narrower"
authority: LCMPT
search query: band
loc id: mp2013015048
loc rwo uri: <http://id.loc.gov/authorities/performanceMediums/mp2013015048>

id.loc.gov has these triples related to broader and narrower...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_performance_batch.jsp?query=band&maxRecords=1&startRecord=1&lang=en'

The results returned from the

[2019-09-12 19:47] elrayle opened #185 "LCSH does not include Citation note, source, or status in search results"
authority: LCSH
search query: Boroughs (Municipal subdivision)
loc id: sh85015885
loc rwo uri: <http://id.loc.gov/authorities/subjects/sh85015885>

id.loc.gov has these triples related to Citation note, source, status...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_performance_batch.jsp?query=band&maxRecords=1&startRecord=1&lang=en'

The resu

[2019-09-12 19:58] elrayle opened #186 "LCSH does not labels for broader and narrower"
authority: LCSH
search query: Cognitive science
loc id: sh88006179
loc rwo uri: <http://id.loc.gov/authorities/subjects/sh88006179>

id.loc.gov has these triples related to broader and narrower...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_subject_batch.jsp?query=Cognitive%20science&maxRecords=1&startRecord=1&lang=en'

The results returned

[2019-09-12 20:00] #116 closed, assigned to elrayle, sfolsom, eichmann

[2019-09-12 20:18] #48 closed, assigned to elrayle

[2019-09-12 20:31] elrayle opened #187 "Explore performance improvements"
Explore background jobs, concurrency, parallelism, and load balancer as options to improve performance from the QA side.

Request to improve performance on AWS:  https://culibrary.atlassian.net/browse/DLITSYS-3436

[2019-09-13 11:34] kirkhess opened #190 "Support left anchored browsing"
ID supports a suggest service, which returns results in alphabetical order and allows a typeahead so if you type "Animation" it will return all the labels which start with Animation not the labels which contain Animation.

There's already a request here (https://github.com/LD4P/sinopia_editor/issues/1251) which is asking for the results to be in alpha order.

Suggest example:
https://id.loc.gov/au

[2019-09-13 13:22] elrayle opened #191 "LCDGT does not labels or ids for broader and narrower"
authority: LCDGT
search query: Dancers
loc id: dg2015060747
loc rwo uri: <http://id.loc.gov/authorities/demographicTerms/dg2015060747>

id.loc.gov has these triples related to broader and narrower...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_demographics_batch.jsp?query=dancers&maxRecords=1&startRecord=1&lang=en'

The results returned from

[2019-09-13 13:30] elrayle opened #192 "LCDGT does not include Citation note, source, or status in search results"
authority: LCDGT
search query: West Indian Americans
loc id: dg2015060552
loc rwo uri: <http://id.loc.gov/authorities/performanceMediums/dg2015060552>

id.loc.gov has these triples related to Citation note, source, status...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_demographics_batch.jsp?query=West%20Indian%20Americans&maxRecords=1&startR

[2019-09-13 13:40] elrayle commented on #26
Remaining Issues:

* #191 LCDGT does not labels or ids for broader and narrower
* #192 LCDGT does not include Citation note, source, or status in search results

More to come.

[2019-09-13 13:57] elrayle opened #193 "Performance graphs not available on AWS"
The AWS elastic beanstalk instance for culit/qa_server is not able to display graphs using ImageMagick.  Unknown cause.

[2019-09-13 14:08] elrayle opened #194 "LCDGT does not include Variant in search results"
authority: LCDGT
search query: West Indian Americans
loc id: dg2015060552
loc rwo uri: <http://id.loc.gov/authorities/demographicTerms/dg2015060552>

id.loc.gov has these triples related to Citation note, source, status...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_demographics_batch.jsp?query=West%20Indian%20Americans&maxRecords=1&startRec

[2019-09-13 14:39] eichmann commented on #183
@elrayle fix deployed and ready for validation.

[2019-09-13 14:39] eichmann commented on #184
@elrayle fix deployed and ready for validation.

[2019-09-13 14:58] eichmann commented on #186
@elrayle fix deployed and ready for validation. Note there seems to be a separate issue with this where we're over generating results, I think because the first search result is also the exact match.  Please submit a separate issue if this is true.

[2019-09-13 14:58] eichmann commented on #185
@elrayle fix deployed and ready for validation.

[2019-09-13 15:16] eichmann commented on #191
@elrayle fix deployed and ready for validation.

[2019-09-13 15:17] eichmann commented on #192
@elrayle fix deployed and ready for validation.

[2019-09-13 15:17] eichmann commented on #194
@elrayle fix deployed and ready for validation.

[2019-09-13 17:19] elrayle opened #195 "LCDGT does not include Related in search results"
authority: LCDGT
search query: African Americans
loc id: dg2015060362
loc rwo uri: <http://id.loc.gov/authorities/demographicTerms/dg2015060362>

id.loc.gov has these triples related to Citation note, source, status...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_demographics_batch.jsp?query=African%20Americans&maxRecords=1&startRecord=1&lang

[2019-09-13 17:23] elrayle opened #196 "LCDGT does not include Earlier Established Form in search results"
authority: LCDGT
search query: Lakota (North American people)
loc id: dg2015060241
loc rwo uri: <http://id.loc.gov/authorities/demographicTerms/dg2015060241>

id.loc.gov has these triples related to Citation note, source, status...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l_services/loc_demographics_batch.jsp?query=Lakota%20(North%20American%20people)&m

[2019-09-13 17:31] elrayle commented on #192
Closing: Verified citation extended context is in search results.

[2019-09-13 17:31] #192 closed

[2019-09-13 17:32] elrayle commented on #194
Closing: Confirmed Variant is in search results.

[2019-09-13 17:32] #194 closed

[2019-09-13 17:55] elrayle commented on #191
@eichmann I confirmed that broader and narrower labels are now in search results.  The ID still doesn't show up.  They are defined to come in with triple...

[code]

The id is present for LCGFT.  I looked at cache results for that auth and it looks like you are bringing in the entire broader term into the search results graph.

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.

[2019-09-13 18:01] elrayle commented on #183
Closing: Verified citation data are in search results.

[2019-09-13 18:01] #183 closed

[2019-09-13 18:05] elrayle commented on #184
Verified that broader and narrower labels are present, but id is still missing.  This is similar to LCDGT broader and narrower issue #191.  See comment https://github.com/LD4P/qa_server/issues/191#issuecomment-531332606

[2019-09-13 18:08] elrayle commented on #185
Closing: Verified citation data are in search results.

[2019-09-13 18:08] #185 closed

[2019-09-13 18:10] elrayle commented on #186
Verified that broader and narrower labels are present, but id is still missing. This is similar to LCDGT broader and narrower issue #191. See comment #191 (comment)

[2019-09-13 19:23] elrayle opened #200 "LCGFT does not include Citation note, source, or status in search results"
**HOLD ON THIS ISSUE** until the rewrite of the extended context (issue #50) for LCGFT.

----

authority: LCGFT
search query: Cartographic materials
loc id: gf2011026113
loc rwo uri: <http://id.loc.gov/authorities/genreForms/gf2011026113>

id.loc.gov has these triples related to Citation note, source, status...

[code]

curl -L -D - -H 'Accept: application/n-triples' 'http://services.ld4l.org/ld4l

[2019-09-13 19:26] elrayle commented on #50
This was one of the first auths that included extended context.  @eichmann is rewriting the queries for LCGFT to match the approach taken authorities where extended context was added more recently.

Will need to re-verify the extended context once complete.

[2019-09-13 19:32] eichmann commented on #191
@eichmann prefLabel and lccn both now appear for broader and narrower.  Ready for validation

[2019-09-13 19:43] eichmann commented on #184
@elrayle ids now present for broader/narrower URIs.

[2019-09-13 19:49] eichmann commented on #186
@elrayle ids now present for broader/narrower URIs

[2019-09-13 20:16] michelleif opened #201 "when searching (in any of our search components), search string should match strings with same letters plus diacritics"
see also https://github.com/LD4P/sinopia_editor/issues/1287 for some examples, https://github.com/LD4P/sinopia_editor/issues/1287 applies to our search of data created in Sinopia.

this ticket is to request that for QA searches, search string should match strings with same letters plus diacritics

[2019-09-13 20:35] eichmann commented on #195
@elrayle skos:related prefLabels and lccns now appear.

[2019-09-13 20:42] eichmann commented on #196
@elrayle madsrdf:hasEarlierEstablishedForm now appears.

[2019-09-13 21:32] elrayle commented on #196
@eichmann Can you double check the source data?

loc uses `madsrdf:variantLabel`
the cache returned `madsrdf:authoritativeLabel`

I don't have any problem adding authoritativeLabel to the ldpath in addition to variantLabel, but I am wondering why the difference.  I suppose it could be that LC download and LC live have different data.

[2019-09-13 21:34] elrayle commented on #195
Closing: Verified in search results using...

http://localhost:3000/authorities/search/linked_data/locdemographics_ld4l_cache?q=African%20Americans&maxRecords=5&context=true

[2019-09-13 21:34] #195 closed

[2019-09-13 21:35] elrayle commented on #186
Closing: Verified using http://localhost:3000/authorities/search/linked_data/locsubjects_ld4l_cache?q=Cognitive%20science&maxRecords=5&context=true

[2019-09-13 21:35] #186 closed

[2019-09-13 21:38] elrayle commented on #184
Closing: Verified using http://localhost:3000/authorities/search/linked_data/locperformance_ld4l_cache?q=band&maxRecords=20&context=true

[2019-09-13 21:38] #184 closed

[2019-09-13 21:47] elrayle commented on #133
## Example

authority: LCDGT
search query: 'dancers' vs. 'Dancers'
loc id: dg2015060747
prefLabel: 'Dancers'
loc rwo uri: http://id.loc.gov/authorities/demographicTerms/dg2015060747

When performing these two queries, 'Dancers' is an exact match for dg2015060747.  'dancers' is not an exact match.

[2019-09-13 21:50] elrayle opened #202 "maxRecords not honored when there is an exact match for the query"
authority: LCDGT
search query: 'dancers' vs. 'Dancers'
loc id: dg2015060747
prefLabel: 'Dancers'
loc rwo uri: http://id.loc.gov/authorities/demographicTerms/dg2015060747

When performing these two queries, 'Dancers' is an exact match for dg2015060747. 'dancers' is not an exact match.

[code]

[2019-09-13 21:51] eichmann commented on #196
Looking at the results, I'm seeing blank nodes with mads variantLabels...

[2019-09-13 21:57] elrayle commented on #196
When I execute

[code]

I get...

[code]

[2019-09-14 01:36] michelleif commented on #143
just adding some add'l feedback from user testing re this feature, to show why it will be appreciated?

QUESTION: Re showing only top 8 results, would you like to see a longer list, or have a way to show more results?

ANSWER (from greta @ stanford): I don't need a longer list initially but i do need to be able to go beyond the first 8 results, if necessary.  Either more could appear as i scroll,

[2019-09-14 01:39] michelleif opened #204 "LCNAF Context: Show 670 field"
creating issue for greta @ stanford re context on LCNAF search:
"... it's useful to see the 670 field in addition to the 3xx fields but i realize real estate is limited."

[2019-09-14 12:17] #26 closed

[2019-09-14 12:19] elrayle commented on #191
Closing: Verified using http://localhost:3000/authorities/search/linked_data/locdemographics_ld4l_cache?q=Biologists&maxRecords=5&context=true

[2019-09-14 12:19] #191 closed

[2019-09-14 12:23] elrayle commented on #118
Closing:  The configuration for QA is complete in PR https://github.com/cul-it/qa_server/pull/90.  Issues for caching are described in Issue #50.

[2019-09-14 12:23] #118 closed

[2019-09-15 16:36] michelleif commented on #175
from @kirkhess via email 8/20/19 "The org code list has some issues – in general, I think the problem is everyone has a code they use today and have no idea the label to use for the code. The labels have a very tenuous connection to the code plus all the old codes are never deprecated or removed – there 40+ LC codes of which we use 1 (DLC). We were trying to change the suggest service to allow you

[2019-09-16 17:01] elrayle commented on #143
@michelleif This functionality is available for all authorities that are served from the LD4P cache.  To use this, add a `startRecord=_PAGE_NUM_` parameter to the qa_server request, where _PAGE_NUM_ is 1 by default to return the first set of results.

`startRecord` works in conjunction with `maxRecords` which determines how many results to return.

Examples...

`maxRecords=4`  returns results 1-4

[2019-09-17 14:25] eslao commented on #203
This would be nice to have, but would it be possible to give the user the option to toggle between alphabetical order and best match order?

[2019-09-17 15:27] NancyJean commented on #198
Can you clarify the use case for this as a lookup?  Is it to lookup and pull in data to copy/edit LC Works/Instances or to pull in just LC Work/Instance URIs as related links to whatever you're doing in the Sinopia Editor? or both?

[2019-09-17 15:33] michelleif commented on #198
If QA can support these, then both use cases would be possible. But for this ticket, the intention is to have it available as a lookup source in fields, so you could make a link. Pulling in the data to derive a new record would also be possible because we are planning in Work Cycle 2 to make a generic "derive" that could handle any QA source.

[2019-09-17 15:56] NancyJean opened #205 "MeSH Publication Types (aka genre/forms)"
MeSH Publication Types (PTs) are genre/form terms that can be identified in MeSH RDF by  "@type" : "http://id.nlm.nih.gov/mesh/vocab#PublicationType",  NLM uses these MeSH PTs in its cataloging rather than LC genre/form terms.  While we can add a MeSH lookup for genre/form in our profiles that searches the entire MeSH vocab, it would be more useful if that MeSH genre/form lookup could be limited t

[2019-09-17 18:52] michelleif opened #206 "created consolidated Share-VDE index"
For Sinopia, we want users to be able to search the Share-VDE data from all cohort institutions at once (see https://github.com/LD4P/sinopia/issues/256)

Dave suggests: I would like to avoid generating a single triplestore, but rather build a single index that routes to the appropriate underlying triplestores for triples, context, etc.

Single index: yes!

I didn't fill in the spreadsheet with ind

[2019-09-18 14:58] eichmann commented on #196
@elrayle Those are the triples... the query snags all triples with the referenced blank node as subject.  The variantLabel blank node triples are referenced by hasVariant.

[2019-09-18 14:59] eichmann commented on #196
Is it possible that some labels so pointed at are authoritative, and others variant?

[2019-09-18 18:45] elrayle commented on #196
@sf433 RE: DGT earlier form…
The spreadsheet says to use variantLabel for earlier form, but I don’t find any in the data.  I do find it under authoritativeLabel.

This gets lots of hits…
[code]

This gets 0 results…
[code]

[2019-09-18 19:31] elrayle commented on #196
Closing:  Fixed by PR https://github.com/cul-it/qa_server/pull/132

[2019-09-18 19:31] #196 closed

[2019-09-24 16:50] a-cohen opened #207 "Request for Dublin Core Metadata Initiative (DCMI) Type Vocabulary"
Data source: DCMI Type
URL: https://www.dublincore.org/specifications/dublin-core/dcmi-type-vocabulary/2003-02-12/
API: No API, but available for download here https://lov.linkeddata.es/dataset/lov/vocabs/dctype

An important vocabulary used by our metadata team for our institutional repository.

[2019-09-24 16:50] a-cohen opened #208 "Request for Thesaurus for Graphic Materials"
Data source: Thesaurus for Graphic Materials
URL: http://id.loc.gov/vocabulary/graphicMaterials.html
API: download available at http://id.loc.gov/download/

An important vocabulary used by our metadata team for many ephemeral collections.

[2019-09-24 16:50] a-cohen opened #209 "Request for ISO 639-3 Language Codes"
Data Source: ISO 639-3 Language Codes
URL: https://iso639-3.sil.org/
API: no API, but available for download here https://iso639-3.sil.org/code_tables/download_tables

An important vocabulary used by our metadata team.

[2019-09-24 16:50] a-cohen opened #210 "Request for ORCID IDs"
Data source: ORCID
URL: https://orcid.org/
API: exists, but must sign-up for access

Exploring integration into our cataloguing and metadata workflows.

[2019-09-27 01:18] NancyL opened #211 "Request for LOC Special Playback Characteristics"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x ] Please consult the LD4P2 QA Authority Suppor

[2019-09-27 14:12] elrayle commented on #198
@kirkhess Is there an API for searching LC Works and LC Instances?  I couldn't find a download or a page talking about a search API at id.loc.gov.

[2019-09-27 20:29] NancyL opened #212 "Request LOC Sound Capture and Storage vocabulary"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [x ] Please consult the LD4P2 QA Authority Suppor

[2019-09-30 21:10] sfolsom commented on #121
Looks like this a problem with how Sinopia is reading urn:ld4p:qa:gettytgn fromhttps://github.com/LD4P/sinopia_editor/blob/944fa55f4e7c03f5bf6f078824f9fa741fdbd1c7/static/lookupConfig.json#L378. It's pointing instead to the AAT QA lookup. cc: @jermnelson

[2019-10-01 15:35] elrayle commented on #121
There were also several ulan configs pointing to aat.  I fixed the tgn one and the ulan configs in PR https://github.com/LD4P/sinopia_editor/pull/1391

[2019-10-01 15:48] jcoyne opened #213 "Report number of results available"
In order to paginate through a result set, it is helpful to know how many results are in the full set (vs the number returned on the current page).  Ideally, the UI could return the URL for the next and previous pages.  See http://demo.projectblacklight.org/catalog.json?f[format][]=Book for an example.

[2019-10-01 18:45] elrayle commented on #213
Plan discussed in QA-Sinopia meeting today...

### Proposed results structure

[code]

### Work involved:

QA:
* Add configuration specifying default data to include in results. Potential values: results (required), response header, performance data
* Add parameter `response_header=true` to API request to indicate that the results should include response header in the results
* Add code to process

[2019-10-01 18:47] eichmann commented on #213
Might want to include record_offset to anticipate the need to know where in the pagination this result came from...

[2019-10-01 18:48] eichmann commented on #213
Does Sinopia have a DOI or comparable to use as a subject URI for the count?

[2019-10-02 16:39] jermnelson commented on #213
Not really, in the past we've used a `http://sinopia.io/vocabulary/` as a namespace for the `sinopia:hasResourceTemplate` predicate in the editor.

[2019-10-02 17:13] jcoyne commented on #213
@eichmann Why would the count need a subject URI?  Shouldn't QA just be returning JSON?

[2019-10-02 17:17] elrayle commented on #213
@jcoyne QA will return the json proposed in the Proposed Results Structure.  But QA does not receive all results, so the results coming from the cache have to tell QA the `total_results_count`.  Since the data coming from the cache is completely linked data, the total_results_count needs to be in a triple in the results graph that can be queried by QA.

[2019-10-07 20:26] bushmanb commented on #188
This is not still working properly in Stage.  The Entry Terms are still being displayed in the results and the URIs are not the correct ones from MeSH.  Another example.  Try entering Coffee. Coffee Sena is one of the results.  However the correct form for this concept is actually Senna Plant.  The URI should be http://id.nlm.nih.gov/D029846 not http://id.nlm.nih.gov/mesh/T444582.

[2019-10-07 20:27] bushmanb opened #215 "No Context for MeSH"
When will context for MeSH be available?

[2019-10-07 20:30] bushmanb opened #216 "QA not retrieving Pre-Coordinated MeSH URIs"
QA is not retrieving any of the pre-coodinated MeSH URIs.  For example if I enter Coffee in the lookup, I should retrieve not only the Main heading for Coffee, but also Coffee/adverse effects, coffee/chemistry, etc.  This is not the same as LCSH and should not need the complex subject combination tool because of the MeSH combinations are predefined and available with URIs.

[2019-10-11 13:55] elrayle commented on #15
@eslao I wanted to touch base with you on your needs for wikidata.

### Current Status in QA

At this point, I have added the ability to search wikidata API.  It does not have a lot of extended context because they do not return much information.

Example search query:  https://lookup.ld4l.org/authorities/search/wikidata/item?q=milk

This is fast, but doesn't have much information.  And there is n

[2019-10-11 14:16] eichmann commented on #50
Clicked the wrong button!

[2019-10-11 16:54] eichmann commented on #200
Fix deployed to production.

[2019-10-11 16:54] eichmann commented on #50
Fix deployed to production.

[2019-10-16 13:52] sfolsom opened #226 "Add SVDE Cluster Knowledge Base CKB to QA"
_Please only use this issue template for LD4P2 requests for a new data source to be added to QA. If your requesting changes to how a dataset currently available in QA is treated, please use the indexing bug issue template._

__For LD4P2 partners and cohorts:__

Please perform each task listed below. (Email sf433 @ cornell dot edu with questions):
- [X] Please consult the LD4P2 QA Authority Support

[2019-10-16 16:25] kefo opened #227 "Please add ISSN Centres RDF to QA"
Catalogers must identify the ISSN Centre of the related ISSN.  Although in the long run - like years and years and years from now - we should be able to just query the URI for the ISSN itself to determine this information, at this time we need to cater to this need since catalogers are required to alter this data point when ISSN numbers are transferred between ISSN Centres.

Using the ISSN organiz

[2019-10-16 18:58] eichmann commented on #227
Simple case for DAVE - three properties all indexed and returned.  I've pulled the RDF from Slack.

[2019-10-17 02:00] timathom opened #228 "Add RBMS (Rare Books & Manuscripts Section) Controlled Vocabs to QA"
The Rare Books & Manuscripts Section (RBMS) of the Association of College & Research Libraries (ACRL) maintains a set of seven relatively small controlled vocabularies. They are widely used in the cataloging of rare materials and special collections. With support from RBMS, these vocabularies have been converted to SKOS/RDF in order to support rare materials cataloging projects in LD4P.

- [x] Ple

[2019-10-18 14:23] elrayle opened #229 "UBER: general questions about authority configs"
### AGROVOC_LD4L_CACHE

This has subauths copied from original LCNAF that probably shouldn't be there.

- [ ] determine if subauths can be removed.
- [ ] remove subauths

### DBPEDIA_LD4L_CACHE

This has subauths copied from original LCNAF that probably shouldn't be there.

- [ ] determine if subauths can be removed.
- [ ] remove subauths

### LOCINSTANCE_LD4L_CACHE

This is defined in ld4p/linked

[2019-10-18 20:21] sfolsom commented on #216
@bushmanb are pre-coordinated MeSH heads considered instances of meshv:TopicalDescriptor, meshv:GeographicalDescriptor, meshv:PublicationType, or meshv:AllowedDescriptorQualifierPair? Or something else. I'm having a terrible time trying to query for them.

[2019-10-18 21:24] sfolsom commented on #212
Not trying to push back on this request, but just confirming... is https://github.com/LD4P/sinopia_editor/blob/ca533cda09da4d548e44ffdfe2cae8bc76634feb/static/authorityConfig.json#L1765 not meeting your needs?

Also, a side note: we're working with LOC to get a dump of all the small vocabs to load and configure in one fell swoop, similar to the addition of the various RDA vocabs.

[2019-10-18 21:27] sfolsom commented on #211
Not trying to push back on this request, but just confirming... would an LOC direct list lookup added to SInopia's authority config be sufficient for now similar to https://github.com/LD4P/sinopia_editor/blob/master/static/authorityConfig.json#L1765?

Also, a side note: we're working with LOC to get a dump of all the small vocabs to load and configure in one fell swoop, similar to the addition of

[2019-10-18 21:29] sfolsom commented on #205
@elrayle @eichmann sounds like this is a request for a subauth that limits to only genres (http://id.nlm.nih.gov/mesh/vocab#PublicationType)

[2019-10-18 21:30] NancyL commented on #211
Direct list lookup is fine—there is really no other useful information.

From: Steven Folsom <notifications@github.com>
Sent: Friday, October 18, 2019 2:27 PM
To: LD4P/qa_server <qa_server@noreply.github.com>
Cc: Nancy Lorimer <nlorimer@stanford.edu>; Author <author@noreply.github.com>
Subject: Re: [LD4P/qa_server] Request for LOC Special Playback Characteristics (#211)

Not trying to push back on

[2019-10-18 21:36] sfolsom commented on #204
is it not? I'm seeing the notes here:
<img width="588" alt="Screen Shot 2019-10-18 at 5 34 30 PM" src="https://user-images.githubusercontent.com/8257258/67129858-b3e17e00-f1cd-11e9-8115-e77989010402.png">

[2019-10-18 21:45] NancyL commented on #211
And doing them all in one fell swoop would also be perfect
________________________________
From: NancyL <notifications@github.com>
Sent: Friday, October 18, 2019 2:30 PM
To: LD4P/qa_server <qa_server@noreply.github.com>
Cc: Nancy Lorimer <nlorimer@stanford.edu>; Your activity <your_activity@noreply.github.com>
Subject: Re: [LD4P/qa_server] Request for LOC Special Playback Characteristics (#211)

[2019-10-18 21:48] NancyJean commented on #205
Yes, exactly.  Not sure it's in scope, but it's important for institutions that use MeSH genres/publication types (like NLM :-)).  I don't know how else a user would be able to cull the genres/pub types out from the rest of MeSH without this change.

[2019-10-18 21:59] michelleif commented on #204
this was feedback from user testing so maybe it wasn't showing at that point? if you say it's there, then I'll close this.

[2019-10-18 21:59] #204 closed

[2019-10-22 13:15] dezel002 opened #231 "Improve behavior of Description authentication and Description conventions in sinopia:resourceTemplate:bf2:Agents:AdminMetadata"
In the base Admin Metadata RT, there are a couple of things that would make it more usable.

1. Description authentication: in the dropdown list, add acronyms in parentheses for all sources following the spelled out name. Both here and in Description conventions, it's very inconsistent. Both the spelled out form and the acronym should appear in all cases. Catalogers typically think of them by thei

[2019-10-22 17:53] sfolsom commented on #206
@sfolsom to evaluate the connections in the CKB and institutional data to figure out the best "full view" of entities, with and without duplicates from institutional datasets.

[2019-10-22 18:00] sfolsom commented on #226
See also https://github.com/LD4P/qa_server/issues/206 for the decision to create a single index rather than a single triplestore.

[2019-10-22 18:16] sfolsom commented on #209
Hmmm... this one is a little different because to my knowledge it's not RDF. Would the LOC language code lists based on ISO639-1, ISO639-2, and ISO639-5 (as RDF) serve your needs? Or are you expecting to use the codes directly as non-RDF resources?

[2019-10-22 18:24] sfolsom commented on #211
Pull request in to add the LOC direct lookup as a list: https://github.com/LD4P/sinopia_editor/pull/1600

Will continue to try to get all small LOC vocabs in as one job in QA.

[2019-10-22 18:24] #211 closed

[2019-10-22 18:26] sfolsom commented on #212
With the list available in the config, and a separate effort underway to get all "small" LOC vocabs into QA, going to close this issue.

[2019-10-22 18:26] #212 closed

[2019-10-23 16:55] bushmanb commented on #216
@sfolsom they are meshv:AllowedDescriptorQualifierPair

[2019-10-24 18:10] sfolsom commented on #231
1.) I'm not sure what is meant by Description Authentication; I don't see it in the RT. It seems to either be an issue the LC list lookup ("http://id.loc.gov/vocabulary/descriptionConventions", it's not using QA) in the resource template, or... something with Sinopia accounts attributed to descriptions. [Sorry I can get sinopia:resourceTemplate:bf2:Agents:AdminMetadata to open on stage, so I'm jus

[2019-10-24 18:33] michelleif commented on #231
hi @dezel002 my bad on the above, these 2 vocabularies are not served through QA, Sinopia gets the values directly from id.loc.gov, so you will need to ask LC if they could add the acronyms to the label, and give them the feedback about the outdated value. So I'm going to close this since no Sinopia or QA development is required. (We are working on getting those LC vocabularies into QA which would

[2019-10-24 18:33] #231 closed

[2019-11-01 12:41] sfolsom opened #232 "Provide the same results regardless of capitalization"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [ ] Please describe the expected performance and accuracy of a particular vocabulary.

https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache?q=university%20of%20pennsylvania&maxRecords=4&context=true

https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache?q=Unive

[2019-11-01 13:35] sfolsom opened #235 "Increase precision for LOC all names (QA)"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary.

The results in https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache for searches like "camden, william" are returning "Johnson, William, of Camden, N.J.", "Murray, William, of Camden, N.J.", and

[2019-11-01 14:23] sfolsom opened #237 "Provision for forgiving of punctuation"
For tracking purposes, please create a separate issue for each indexing improvement request.

- [X] Please describe the expected performance and accuracy of a particular vocabulary.

Camden NJ doesn't bring up Camden (N.J.) in the top results, but Camden SC brings up Camden (S.C.)

- [X] If applicable, please update and provide links related to existing tests, e.g.

https://github.com/LD4P/qa_serv

[2019-11-04 17:51] elrayle commented on #199
Closing... fixed in Sinopia PR https://github.com/LD4P/sinopia_editor/pull/1294

[2019-11-04 17:51] #199 closed

[2019-11-04 18:11] elrayle commented on #175
@kirkhess RE: obsolete - are the obsolete codes tagged as obsolete in any way?

[2019-11-04 18:19] elrayle commented on #200
Confirmed fixed.

[2019-11-04 18:19] #200 closed

[2019-11-04 18:24] elrayle commented on #140
@sfolsom @eslao Can you check if this is still a problem?  https://github.com/LD4P/sinopia_editor/pull/1391 fixed some issues with the Getty vocabs.  I'm wondering if that resolved this issue too.

[2019-11-04 19:45] elrayle opened #238 "UBER: search issues affecting editor UI (primarily related to search order preferences)"
There are several requests that require indexing changes but won’t have any impact unless there are changes to the UI as well…

• #213 - pagination of single field lookup
• #203 - search results sorted by alpha order
• #190 - left anchor search
• #134 - option to match partial strings during search
• https://github.com/LD4P/sinopia_editor/issues/1663 - click external link to view subject at author

[2019-11-04 19:51] elrayle commented on #238
@eichmann RE: Middle 3 issues (i.e. #203, #190, #134) dealing with the order of search results or the way the index prioritizes searches.  I’m wondering if a single index can handle all 3 of these concurrently.

[2019-11-04 19:56] elrayle opened #239 "UBER: Indexing issues affecting accuracy of results"
There are a number of issues related to indexing refinement.  These can be in competition with each other.  Tweaking to improve one might have an unintended consequence for other searches.  They are gathered here to discuss possible implications of each request.

### Requests for changes to indexing strategy

* #201 character with diacritics should match the non-diacritic version of the character

[2019-11-04 20:00] elrayle commented on #232
@sfolsom This looks like a duplicate of Issue #133.  Perhaps we can move your example over to that issue and close this one.

[2019-11-04 20:02] elrayle commented on #96
@hudajkhan Can this be closed?

[2019-11-04 20:06] elrayle commented on #97
Fixed by https://github.com/cul-it/qa_server/pull/135
Closing... in production

[2019-11-04 20:06] #97 closed

[2019-11-04 20:07] elrayle commented on #99
Partial matches are described in issue #134

[2019-11-04 20:09] elrayle commented on #100
Closing... Per latest conversation, Sinopia developers are satisfied with the current API doc.  This includes the use of linked data authorities and Discogs.

[2019-11-04 20:09] #100 closed

[2019-11-04 20:19] elrayle commented on #101
NOTE that exact match is case-sensitive.
* `q=Seattle (Wash.)` has n79041965 as the first result
* `q=seattle (wash.)` doesn't have n79041965 in the first 50 result  :(

I see the same results when limited to the geographic subauthority.

[2019-11-04 20:26] elrayle commented on #115
Initially addressed for the first 5 Share-VDE institutional configs in PR https://github.com/cul-it/qa_server/pull/93.

To see all related PRs, use this search... https://github.com/cul-it/qa_server/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+sharevde

Closing... completed for all share-vde auths.

[2019-11-04 20:26] #115 closed

[2019-11-04 20:35] elrayle commented on #126
The predicate for the primary label for geonames is `<gn:name>`.  For this query, the `gn:name` is `New York`.  So I would expect `q=New York` to return http://sws.geonames.org/5128581/ as the first result based on the exact match algorithm.  But is wasn't even in the top 20.

https://lookup.ld4l.org/authorities/search/linked_data/geonames_ld4l_cache?q=New%20York&maxRecords=20&context=true

It was

[2019-11-04 20:43] eichmann commented on #213
@elrayle how does this look for a count triple:

<http://ld4l.org/ld4l_services/cache> <http://vivoweb.org/ontology/core#count> "712" .

Not sure that count is actually a vivo property, but there's nice symmetry with rank.

[2019-11-04 20:45] eichmann commented on #213
Demo implementation running at http://wintermute.slis.uiowa.edu:8081/ld4l_services/share_vde/x_batch.jsp for all VDE sites.

[2019-11-04 20:48] elrayle commented on #136
http://id.loc.gov/authorities/names/n79045553 is not in the top 20 using search...

https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache/geographic?q=Boston%20Mass&maxRecords=20

It is the number 1 hit using based on exact match...

https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache/geographic?q=Boston%20(Mass.)&maxRecords=4

[2019-11-04 21:03] elrayle commented on #139
Tried...
https://lookup.ld4l.org/authorities/search/linked_data/locsubjects_ld4l_cache?q=Guitar%20music%20%28Heavy%20metal%29&maxRecords=10

Get error...
`"errors": "Internal Server Error - Search query Guitar music (Heavy metal) unsuccessful for authority LOCSUBJECTS_LD4L_CACHE"
`

It does not matter if the parentheses are encoded or not.

If I remove the parentheses...

https://lookup.ld4l.org/a

[2019-11-04 21:11] hudajkhan commented on #96
yes

[2019-11-04 21:11] #96 closed

[2019-11-05 12:43] elrayle commented on #213
@eichmann This looks good.  I'll give it a go today and see about creating the results info in the QA response.

[2019-11-05 17:33] eichmann commented on #226
Triplestore was deployed on 11/4 for @sfolsom 's use to identify relevant properties.

[2019-11-07 18:41] kirkhess commented on #198
ID supports the same API for works and instances as it does for the other authorities/vocabularies.

[2019-11-07 21:40] michelleif opened #240 "LOC geographic [names] is showing non-geographic hits"
Stanford cataloging team reports that in Monograph template, a field that's a lookup to `LOC geographic [names]` is returning non-geographic hits.

Going to https://lookup.ld4l.org/authority_list to check,the sample searches are the same for LOCNAMES_LD4L_CACHE with and without the geographic subauthority specified...it seems that specifying the geographic subauthority is not doing anything.

`htt

[2019-11-07 21:45] michelleif commented on #190
more feedback from Stanford cataloging team requesting left-anchored search:

[2019-11-07 21:46] michelleif commented on #190
in #238 we say that left-anchored search would require UI change in Sinopia, but is there a way to do it without UI changes? by allowing the user to use special characters to indicate what they want, like `!abc` means left-anchored but `abc` means find anywhere?

[2019-11-07 23:13] michelleif opened #241 "search of LOCGENRES_LD4L_CACHE does not find an expected value"
Stanford cataloger using Monograph Work template, field that searches LOC all genres (QA) expected to find `Multilingual dictionaries` as a result, but it doesn't come up when searching either for `dictionaries` or `multilingual`. Tried upper and lower-case `m` also.

Checked QA page directly and it didn't come up there either in
https://lookup.ld4l.org/authorities/search/linked_data/locgenres_ld4

[2019-11-08 15:14] elrayle commented on #15
Based on discussions in the QA Study Hall focused on wikidata, there was general agreement that the search is adequate.  It would be nice to have extended context at some point. There is a PR to add wikidata search to Sinopio.  (PR https://github.com/LD4P/sinopia_editor/pull/1662)

Term fetch, which dereferences the URI, is too slow to be useful.  Possible solutions...

OPTION 1: Explore the many

[2019-11-12 15:59] elrayle commented on #155
@sfolsom I am not understanding what action you are requesting in this issue.

[2019-11-12 16:01] elrayle commented on #156
The key information in this issue...

[2019-11-12 23:17] elrayle commented on #158
When I do the following search, "Tweedy, Jeff, 1967-" is the only result.

https://lookup.ld4l.org/authorities/search/linked_data/locnames_rwo_ld4l_cache/person?q=Tweedy,%20Jeff

Can this issue be closed?

[2019-11-13 15:31] sfolsom commented on #201
More on diacritic and non-Roman character concerns can be found in https://docs.google.com/document/d/1UxSeZ9xWpIZ__UxzMAtJGlXUrRzY-yZ3OukZNw2FDrg/edit# (pages 14-15, 19-22).

[2019-11-13 16:50] sfolsom commented on #209
I think this is getting taken care of by https://github.com/LD4P/sinopia_editor/issues/1230

[2019-11-13 16:50] #209 closed

[2019-11-15 20:18] sfolsom commented on #155
Looks like since July the variant labels have been indexed well enough that the test in the pull request https://github.com/LD4P/qa_server/pull/154 now passes. I think we can close this.

[2019-11-15 20:18] #155 closed

[2019-11-15 20:32] sfolsom commented on #133
Another example where capitalization is throwing results:

https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache?q=university%20of%20pennsylvania&maxRecords=4&context=true

https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache?q=University%20of%20Pennsylvania&maxRecords=4&context=true

[2019-11-15 20:33] #232 closed

[2019-11-15 21:24] sfolsom opened #247 "Add LC's Cataloging Vocabularies *NEW Pilot* (MADS/RDF and SKOS/RDF)"
Please add Cataloging Vocabularies *NEW Pilot* (MADS/RDF and SKOS/RDF) from http://id.loc.gov/download/. This download is a group of smaller vocabularies. We'll want to create separate or subauthorities so each can be looked up separately. (It's unlikely that catalogers will need to search these vocabs together.)

Context here: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW

[2019-11-19 17:31] sfolsom opened #248 "LOC geographic [names] (QA) is showing non-geographic entities"
Right now Corporate Names and other entity types are often drowning out the Geographic Names in the LOC geographic [names] (QA) lookup.

for searches like https://lookup.ld4l.org/authorities/search/linked_data/locnames_ld4l_cache/geographic?q=Cayuga&maxRecords=4&context=true (the geographic subauth for LCNAF) the expectation is that only geographic entities would return, but we see a lot of Corpor

[2019-11-25 19:26] JeannetteHo1 commented on #208
I would support this request.  This vocabulary would be very helpful for special collections at my institution as well.

[2019-11-26 17:47] elrayle commented on #213
Ready on stage for QA authorities driven from LD4L_CACHE.

This does not include Discogs.

[2019-11-26 17:56] elrayle commented on #213
Final format of the response header is...

[code]

[2019-11-26 18:35] elrayle opened #252 "Create response header with pagination information for Discogs"
### Description

Add pagination information for DISCOGs matching the pagination format for LD4P_CACHE authorities...

### Challenge

LD4P_CACHE returns pagination as as offset (i.e. record number) and page size.
Discogs returns pagination as a page number and page size.

### Processing a page request

#### LD4P_CACHE

LD4P_CACHE query request looks like...

https://lookup.ld4l.org/authorities/sear

[2019-11-26 18:41] elrayle commented on #213
This issue is complete for LD4L_CACHE.  A new issue was created for the DISCOGs work.

https://github.com/LD4P/qa_server/issues/252 Create response header with pagination information for Discogs

[2019-11-26 18:41] #213 closed

[2019-11-26 18:48] elrayle opened #253 "UBER: Authority Requests"
### Mesh

#### open issues

* https://github.com/LD4P/qa_server/issues/47
* https://github.com/LD4P/qa_server/issues/215

#### status

- [ ] cached
- [ ] returns extended context
- [ ] configured in Sinopia

#### comments

MESH needs context as described in https://github.com/LD4P/qa_server/issues/215. The comments in https://github.com/LD4P/qa_server/issues/47 are about changing the SPARQL querie

[2019-11-26 19:51] sfolsom commented on #15
A first pass has been made on this issue using the https://www.wikidata.org/w/api.php?action=help&modules=wbsearchentities API. After some experience with this approach we can decide if it's meeting our needs, or if we need to come up with an approach that provides more context.

[2019-11-26 19:51] #15 closed

[2019-11-26 19:58] sfolsom commented on #63
@gracianipicardo do you know if Ligatus has a download?

[2019-11-27 21:49] gracianipicardo commented on #63
I don't think so @sfolsom, but I'll reach out to them. Maybe they can provide a data dump.

[2019-11-29 20:49] eichmann commented on #144
@eslao @sfolsom CERL triplestore now available for SPARQLing at http://services.ld4l.org/fuseki/dataset.html?tab=query&ds=/CERL after much fiddling.  I had to write a custom loader due to the NDJSON formatting and the ISO-8859-1 character set.

[2019-11-29 20:53] eichmann commented on #63
@gracianipicardo @sfolsom a Ligatus triplestore is now available for SPARQLing at http://services.ld4l.org/fuseki/dataset.html?tab=query&ds=/Ligatus - this is a screen scrape of the Turtle links off their website.  The SPARQL endpoint is not configured properly, and returns triplestore configuration triples, rather than data triples...

[2019-11-29 21:42] eichmann commented on #63
@gracianipicardo @sfolsom As per Paloma's email from a few minutes ago, I've loaded the "official" dump file and deployed it.  It appears equivalent, but just to be on the safe side...

[2019-12-02 23:55] tworrall commented on #252
I have a question about the startRecord param and this math:

'''page_num = startRecord / maxRecords + 1'''

If my startRecord param is 5 and my maxRecords is 5, then the query is going to start on page 2 with record 6.

Is that the correct behavior?

(startRecord seems like an odd way to do this. )

[2019-12-03 01:28] elrayle commented on #252
The math is off slightly at the page boundary.  This should work instead...

[code]

It's not an exact translation given that with startRecord, you can start in the middle of a page and ask for a full page (e.g. startRecord=5&maxRecord=10).  It is expected that with pagination, the requests will be for the first record on a page (e.g. startRecords = 1, 6, 11, 16, etc. when maxRecords==5).

[2019-12-03 01:30] elrayle commented on #252
You could support both approaches.  If the request comes in with startRecord, then use the calculation.  If it comes in with pageNum, then just use that.

[2019-12-03 01:58] briesenberg07 opened #254 "LOC demographics (QA)"
**Describe the bug**
Searching for "Men" in LC demographic terms in the [University of Washington RDA monograph Work RT](https://sinopia.io/editor/WAU:RT:RDA:Work:monograph), the context data coming from QA seems garbled. Earlier forms don't make sense and seem unrelated. Seems to indicate a problem with QA data.

- Workaround exists (copy/paste URI from id.loc.gov)
- In production
- Windows 10 /

[2019-12-03 14:23] tworrall commented on #252
The real issue is that we're mixing apples and oranges. A "start record" parameter should not be used with page numbering. It should be either: get me x records starting with record n; or get me page x showing n records per page.

[2019-12-03 18:00] CECSpecialistI opened #257 "Cannot use QA to find a known value in LC NAF even when parenthesis removed"
Searching for known value "Verne, Jules, 1828-1905. Tour du monde en quatre-vingts jours. English (Butcher)" does not find expected result associated with URI: http://id.loc.gov/authorities/names/no2019176268
Tried searching exact string above, and:
 "Verne, Jules, 1828-1905. Around the world in eighty days"
 "Verne, Jules, 1828-1905. Tour du monde en quatre-vingts jours. English Butcher"
 "Verne,

[2019-12-04 16:38] dezel002 commented on #101
Adding example: author search for Kate DiCamillo. First 8 results only include author/title uniform titles for several of her works, and not the NAF heading for her name alone. Relevancy should rank the author name alone first, before any headings for their works if nothing else is entered in the query
![image](https://user-images.githubusercontent.com/26574684/70161639-0396de80-1682-11ea-8f21-a7e

[2019-12-10 14:40] sfolsom commented on #248
classes and property paths are defined here: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=745128104

[2019-12-10 16:18] elrayle commented on #215
@bushmanb I'm working on the extended context for MeSH today.  I have a question for you...

* Entry terms appear on row 12 & 13 of the [spreadsheet](https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=2113261477).  Should these be separate contexts with separate names or combined into a single Entry terms context?

* For Entry terms, I notice you are using

[2019-12-10 17:19] elrayle commented on #215
@bushmanb On line 15 of the spreadsheet, it reuses the display name of `Related concept`.  I'm wondering if this should be `Scope note`, as that is what is retrieved.

[2019-12-10 17:29] bushmanb commented on #215
@elrayle you are correct on both counts. Lines 12 and 13 can be combined into Entry Terms.  Line 15 should be Scope note, not Related concept.  As for the slowness issue, we would like to go with option 2) include Entry terms and remove it if performance is not acceptable.

[2019-12-10 18:11] elrayle commented on #215
@bushmanb You marked all extended context as visible in the Display except Variant label.  Is this correct?

[2019-12-10 18:23] elrayle commented on #215
@bushmanb Line 18 and 19 have the same display label `Use instead`.  Should they be combined or should linke 19 have display label `Mapped to`?

[2019-12-10 20:43] sfolsom opened #262 "Dedupe repeated assertions"
Occasionally in some datasets, the same value occurs more than once for the same property for a particular subject. In these cases we want to dedupe and only include unique assertions.

There were some discussions about whether to do this at the SPARQL/DAVE level, or have QA filter depending on performance implications.

[2019-12-10 21:00] bushmanb commented on #215
@elrayle  Yes, all extended content except Variant label should be visible in the display.  Line 18 and 19 can be combined into Use instead.

[2019-12-11 13:16] eslao commented on #262
In the case of CERL, for example, ct:signOrDevice frequently has multiple values, for different versions of a printer's marks. The context we wish to display to the user is the textual description (ct:signOrDevice/ct:hasDescription), which is frequently identical across marks. (The marks are distinguished from each other using other properties that we wouldn't choose to display to QA users.)

For

[2019-12-11 14:21] sfolsom commented on #257
Hi Crystal, we hadn't added the name titles because folks at the Library of Congress suggested we focus on linking to bf:Works instead. So instead of http://id.loc.gov/authorities/names/no2019176268, they are suggesting http://id.loc.gov/resources/works/789309. Would adding LC Works meet your need? (https://github.com/LD4P/qa_server/issues/198)

[2019-12-11 14:34] sfolsom commented on #257
I took a look at your profile, and that field as it stands now seems to be saying the your rda:Expression is a skos:exactMatch with the LCNAF skos:Concept, meaning that the rda:Expression is also a skos:Concept. See: https://www.w3.org/TR/skos-reference/#L4858. I'm not advocating for the use of owl:sameAs, but you might want to consider something other than skos:exactMatch (e.g. rdfs:seeAlso, mads

[2019-12-11 15:37] sfolsom commented on #254
@eichmann any idea why this would be happening? There is no Earlier form information associated with http://id.loc.gov/authorities/demographicTerms/dg2015060359.

[2019-12-11 18:11] CECSpecialistI commented on #257
Thanks @sfolsom! We'll talk about the property we used to link rda:Expression to LCNAF name/titles today and probably change it to schema:sameAs or owl:sameAs. We made that decision quickly and I can't remember why we chose skos:exactMatch in the first place.

Adding LC Works rather than name titles as lookups in our profiles would make things tricky, since LC is using BIBFRAME works and we are us

[2019-12-16 20:46] elrayle commented on #215
@bushmanb We have been using mesh:prefLabel as the primary label.  The spreadsheet identifies rdfs:label as the primary label.  I just want to confirm with you that you want to make that change.

[2019-12-16 21:24] bushmanb commented on #215
@elrayle That is correct, it should rdfs:label.  mesh:prefLabel is for the terms and we want the descriptors.

[2019-12-24 19:37] briesenberg07 opened #275 "No results showing for seemingly identical strings; lookups w/ diacritics"
**Vocabularies**
- urn:ld4p:qa:names:person
- urn:ld4p:qa:names:organization

Attempting a lookup in the vocabularies above, various efforts were made to match the resource [Muʼassasat Muʼminūn bi-lā Ḥudūd lil-Dirāsāt wa-al-Abḥāth (Morocco)](http://id.loc.gov/authorities/names/no2014092990.html) in the LCNAF.

These included the use of a *seemingly identical string* to that given at id.loc.gov, "M

[2020-01-10 20:33] briesenberg07 commented on #254
Following up with @sfolsom from today's QA study hall--still happening for this lookup as of today.

- Sinopia.io
- Windows 10 / Firefox
- [WAU RT RDA Work monographs](https://sinopia.io/editor/WAU:RT:RDA:Work:monograph)

![image](https://user-images.githubusercontent.com/27664966/72184209-c4585d80-33a4-11ea-8080-7ad0fadd1351.png)

[2020-01-24 20:15] jermnelson opened #281 "Lookups return network error when parentheses, "( )", used"
@fculpepper commented on [Fri Jan 24 2020](https://github.com/LD4P/sinopia_editor/issues/2058)

What went wrong?
When trying to add the LOC geo name Boston (Mass.) to my instance record, the lookup returned the error: NetworkError when attempting to fetch resource
What did you expect to happen?
I expect the lookups to recognize parentheses and parentheses.

- What is the impact on your work? Since

[2020-01-28 13:50] eslao commented on #144
Indexing and context specified here: https://docs.google.com/spreadsheets/d/1rPvEoP9iYNkxJ0eWC8gXe3ci7e6mhW0da59xkGhadi0/edit#gid=911870085 (see questions under "use case" column)

Users will need to perform lookups against four subauthorities:
- persons (http://rdvocab.info/uri/schema/FRBRentitiesRDA/Person)
- imprints (ct:ImprintName)
- corporate bodies (http://rdvocab.info/uri/schema/FRBRentiti

[2020-02-10 16:40] eslao commented on #144
Any updates on the status of this lookup? Questions about context spec? Thanks!

[2020-02-12 15:47] elrayle commented on #144
@eslao I touched base with @eichmann this morning on CERL and a few other issues.  Barring unexpected snags, he is expecting to have CERL deployed by the end of the week.

[2020-02-17 17:17] elrayle commented on #215
@bushmanb Should mesh have 3 subauthorities: TopicalDescriptor, GeographicalDescriptor, and PublicationType?

[2020-02-18 13:40] bushmanb commented on #215
@elrayle  That is correct, there are three types of descriptors in MeSH, topical, geographic and Publication Type.  These correspond to what you wound enter in the MARC 650, 651 and 655 fields.

[2020-02-18 21:38] JeannetteHo1 opened #303 "Request to add Homosaurus controlled vocabulary to the QA lookup tool"
The Texas A&M University cohort would like to request that the Homosaurus controlled vocabulary (availble at http://homosaurus.org/) be added to the QA lookup tool.  It is an
"international linked data" controlled vocabulary for LGBTQ terms that is intended to be a "companion vocabulary" to other established ones, such as LCSH, etc.  It was originally created by the IHLIA LGBT Heritage.  I have no

[2020-02-21 20:40] briesenberg07 commented on #201
+1 to

Thanks all!

[2020-03-03 16:15] sfolsom opened #321 "Getting back the wrong responses for special playback characteristics"
The special playback characteristics lookup has the same values as the playback channels lookup instead of ones it should have. (RDA_REGISTRY_LD4L_CACHE and config_playback_channels and special_playback are subauthorities)

[2020-03-16 21:03] elrayle opened #322 "LCSH cache query throws 500 error"
Authority: loc_subject_batch.jsp
FAILING Query: Miller%20--C
PASSING Query: Miller

Error for failing query:

[code]

[2020-03-16 21:07] elrayle commented on #322
It would be preferable for this query to return 0 results instead of throwing an error.

Note this query works if you remove '--Catalogues' from the end.

[2020-03-17 14:12] elrayle opened #323 "geonames cache query throws 500 error"
### Description

Authority: geonames_batch.jsp
FAILING Query: New%20York%20%28NY%29
PASSING Query: New%20York%20NY

The %28 and/or %29 characters are the likely culprits.  But it is preferred that this returns an empty set instead of error 500.

### To reproduce

FAILING query

[code]

PASSING query

[code]

### Expected

Either a set of matches or empty set.

### Actual

Error for failing query:

[2020-03-18 12:05] bushmanb opened #324 "MeSH not retrieving Descriptor Qualifer Pairs"
When we access MeSH through QA we are only receiving options for adding the Main heading/Descriptor.  We are not retrieving any main heading/subheading combinations.  My guess is that this is because these are a different class and not being included in the search.  Can the search for MeSH subjects be updated to include meshv:AllowedDescriptorQualifierPair?

[2020-03-18 12:10] bushmanb opened #325 "Direct Input of a URI for MeSH does not index the label"
For tracking purposes, please create a separate issue for each indexing improvement request.

When we try to directly input a MeSH RDF URI because we are not finding the correct descriptor from the QA choices as the subject, the label is not being retrieved and stored.  It was our assumption that because MeSH was a cached dataset that the system could retrieve the label which could then be indexed

[2020-03-20 15:27] elrayle commented on #325
@bushmanb To clarify, you are entering a URI in the field and it is storing the URI as the label of the field?

[2020-03-20 15:31] elrayle commented on #324
@bushmanb Can you give an example including...
* query submitted
* expected result - label and URI

[2020-03-20 15:32] elrayle commented on #324
@eichmann Does this include enough info for you to update the index?

[2020-03-20 17:23] NancyJean commented on #325
Hi @elrayle.  yes, I think we're saying the same thing, but I'm not sure what's happening under the hood and it may be a Sinopia issue rather than a QA issue.

If we manually enter a URI, for a vocab that QA has cached (e.g. MeSH), when we view the data in, e.g., turtle, it displays the URI, not the label.  And if we then do a search in Sinopia on the label represented by the URI, the 'resource' w

[2020-03-20 18:24] NancyJean commented on #325
Just checked with Jeremy and this is indeed a Sinopia question.  He said Sinopia doesn't currently have functionality to query the internet or QA cache to get and cache in the Sinopia the labels for manually entered URIs.

[2020-03-23 14:53] elrayle commented on #14
From @eichmann in Slack on March 4, 2020...

isni_batch.jsp?query=x

* search ISNI through their search API
* transforms search results to linked data
* injects search rank as a predicate

[2020-03-23 15:58] elrayle commented on #281
@eichmann Here is a specific example where the error 500 happens when using parentheses in the query...

[code]

[2020-03-25 17:02] RobertRohr opened #326 "LOC geographic names QA contains non-geographic names"
The LOC geographic [names] (QA) lookup brings up headings that are not geographic names. When using it in Sinopia stage, it also brings up titles and organization names. It should really be limited to geographic names.
![LOC_Geographic_Names_QA](https://user-images.githubusercontent.com/48070028/77564111-71f4ec00-6e7f-11ea-966e-6e3038db6a4e.PNG)

[2020-03-27 15:52] elrayle commented on #144
Closing... CERL is on production

[2020-03-27 15:52] #144 closed

[2020-03-27 16:00] elrayle commented on #133
And another...

Authority: locsubjects_ld4l_cache
Query: 'history' vs. 'History'

When performing these queries, 'history' returns results in 7s.

'History' returns an error...

[code]

[2020-03-27 17:30] elrayle commented on #156
03-26-2020 Skype - by @eichmann

[2020-03-27 17:34] elrayle commented on #14
This is now available on QA production lookup.

Next step:  Put on Sinopia

[2020-03-27 18:09] elrayle opened #327 "OCLC FAST events and meetings"
### Description

**Authority:** oclc_fast and oclcfast_direct
**Subauthority:** event_name - maps to oclc.eventName

OCLC FAST is transitioning their data under heading Event Name.  Some terms will continue to be events.  Most will become Meetings.

Our connection tests are failing because they are now under oclc.meeting.  A new subauthority was added in PR https://github.com/cul-it/qa_server/pull

[2020-04-01 21:12] elrayle commented on #63
Closing... Ligatus is on production all the way through to Sinopia

[2020-04-01 21:12] #63 closed

[2020-04-01 21:18] elrayle commented on #14
[Sinopia Editor PR #2117](https://github.com/LD4P/sinopia_editor/pull/2117) - merged and released
[Sinopia Profile Editor PR #324](https://github.com/LD4P/sinopia_profile_editor/pull/324) - merged and will be in next release

[2020-04-01 21:40] elrayle commented on #248
Screen shot from @michelleif

![](https://user-images.githubusercontent.com/48070028/77564111-71f4ec00-6e7f-11ea-966e-6e3038db6a4e.PNG)

[2020-04-01 21:40] elrayle commented on #326
DUP of #248... closing

[2020-04-01 21:40] #326 closed

[2020-04-01 21:46] elrayle commented on #248
Another example in closed dup issue #240

[2020-04-01 21:47] elrayle commented on #240
DUP of #248 which has a bit more information at this point, so closing this issue.

[2020-04-01 21:47] #240 closed

[2020-04-22 13:40] NancyJean commented on #324
@elrayle @eichmann  did you get a response from Barbara?  The Descriptor/Qualifier pair (DQpair) labels and URIs look like this:
Diabetes Mellitus/drug therapy [N.B.: this is not the usual formatting found in MARC which would separate the descriptor and qualifier with space hyphen space]
http://id.nlm.nih.gov/mesh/D003920Q000188

An explanation with graph of the RDF structure is at https://hhs.git

[2020-04-27 18:15] briesenberg07 commented on #235
Adding additional examples here of unsuccessful lookups in cases where search string is an exact match and resource exists in LCNAF.

(@sfolsom , is this the correct place for issues with both `urn:ld4p:qa:names:person` and `urn:ld4p:qa:names` lookup URNs? I'm not completely clear on the difference between using these  two URNs for a lookup. Thank you!)

**For `urn:ld4p:qa:names:person`:**
![image

[2020-05-08 20:52] sfolsom commented on #122
Please note that for intangibles we need two subauths (split using skos:inScheme <http://id.worldcat.org/fast/ontology/1.0/#facet-Topical> and <http://id.worldcat.org/fast/ontology/1.0/#facet-FormGenre>.

[2020-05-08 20:54] sfolsom commented on #122
See also the proposal for aligning the different FAST lookups/APIs: https://docs.google.com/spreadsheets/d/1Tkv6e6yb4tIUe0a4dZip9P8ht-_lvJAzBiab255J5N8/edit#gid=0

[2020-05-12 13:45] elrayle commented on #18
The decision was made not to cache Sinopia data in the QA cache system.  Closing this issue.

[2020-05-12 13:45] #18 closed

[2020-05-12 14:01] elrayle commented on #20
There is completed on the QA/cache side.  There are several steps that need to happen for this to be available in SInopia.

- [ ] in Profile Editor, define a resource template with fields aligned with LOC data (e.g. LCNAF)
- [ ] in Sinopia, add a tab that searches LOC data (e.g. LOCNAMES_RWO_LD4L_CACHE)
- [ ] in Sinopia, connect search results to the resource template and pre-populate with the sel

[2020-05-12 14:47] jermnelson commented on #20
This would be a task for the Profiles Affinity group

Do you mean adding these new LOC authorities to the existing Search tab? Sinopia never had a design with a dedicated LOC tab in any of the designs by @astridu. See below for the current Sinopia search tab:

![Screen Shot 2020-05-12 at 8 42 48 AM](https://user-images.githubusercontent.com/71847/81705929-d0c0f580-942c-11ea-9007-a8b38f235a45.png)

[2020-05-12 14:54] elrayle commented on #45
It's not clear what the use case for this would be in the current ecosystem of the cache-qa_normalization-sinopia_editor.  This can be reopened later if a use case becomes clear.  Thanks for bringing this information to our attention.  If you feel that this issue should remain open, please provide details on the use case that you see this fulfilling.

[2020-05-12 14:54] #45 closed

[2020-05-12 15:28] elrayle commented on #50
This work is complete and in production.

[2020-05-12 15:28] #50 closed

[2020-05-12 15:38] elrayle commented on #62
@sfolsom I updated the link in the original description to use the staging server and provided the troublesome results.  Can you make a recommendation of how to handle this?

[2020-05-12 15:50] elrayle commented on #101
Need to write one or more accuracy tests to reflect the desired behavior.  @sfolsom Is this something you can do?

[2020-05-12 15:55] elrayle commented on #117
Closing.  This was done in production in PR https://github.com/cul-it/qa_server/pull/203 and synced here in PR #335.

[2020-05-12 15:55] #117 closed

[2020-05-12 16:01] sfolsom commented on #62
Dbpedia isn't a lookup that has been given the ldpath treatment, so I don't know what property is being used to grab labels. http://deep-thought.slis.uiowa.edu:3030/dataset.html?tab=query&ds=/loc_names#query=PREFIX+madsrdf%3A+%3Chttp%3A%2F%2Fwww.loc.gov%2Fmads%2Frdf%2Fv1%23%3E%0APREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2

[2020-05-12 16:07] elrayle commented on #119
Subauths:

* person
  - [ ] profile editor: GETTY_ULAN person (QA)
  - [ ] sinopia editor: GETTY_ULAN person (QA)
  - [ ] qa config: person
  - [ ] cache entity: Person
* organization
  - [ ] profile editor: GETTY_ULAN organization (QA)
  - [ ] sinopia editor: GETTY_ULAN organization (QA)
  - [ ] qa config: organization
  - [ ] cache entity: Organization
* place
  - [ ] profile editor: GETTY_ULAN

[2020-05-12 17:59] elrayle commented on #121
Looks like getty tgn has 1 part of the extended context defined, but not all requested extended context.  According to the spread sheet, the extended context should be...

- [ ] Preferred label = ^foaf:focus / xl:prefLabel / xl:literalForm
- [ ] Variant label = ^foaf:focus / xl:altLabel / xl:literalForm
- [x] Parent body = ^foaf:focus / gvp:parentString
- [ ] Place type = ^focus / gvp:placeTypePre

[2020-05-12 18:05] elrayle commented on #123
There are subauths and extended context defined, but they don't fully match what is defined in the indexing spreadsheet.  Need to review and identify desired changes.

[2020-05-12 18:12] elrayle commented on #131
@sfolsom Can you review this issue and determine if it is still a problem?  I believe this was an issue in Sinopia and not at QA or the cache.

[2020-05-12 18:13] elrayle commented on #133
Need to add accuracy tests for the described scenarios.

[2020-05-12 18:14] elrayle commented on #134
Need to add accuracy tests for the described scenario.

[2020-05-12 18:15] elrayle commented on #136
Need to add accuracy test for described scenario.

[2020-05-12 18:16] elrayle commented on #139
Need to add accuracy test for described scenario.

[2020-05-12 18:22] elrayle commented on #147
Closing... This is available by direct access to id.loc.gov in Sinopia as a list component.  Added in PR https://github.com/LD4P/sinopia_editor/pull/1294

[2020-05-12 18:22] #147 closed

[2020-05-12 18:26] elrayle commented on #160
Need to add accuracy tests for this scenario.

[2020-05-12 18:30] elrayle commented on #163
@jermnelson @justinlittman This is a request to add script vocabulary from id.loc.gov vocabulary to Sinopia.  This follows the pattern of direct access as a list component.  I do not see it in https://github.com/LD4P/sinopia_editor/blob/master/static/authorityConfig.json.

[2020-05-12 18:35] elrayle commented on #168
I do not see this vocab available as a linked data download that can be cached.

[2020-05-12 18:38] elrayle commented on #175
Closing... added to Sinopia using list component in PR https://github.com/LD4P/sinopia_editor/pull/1505

[2020-05-12 18:46] elrayle commented on #187
Related work:

background jobs: PRs #289, #328, #329, #330, #331, #332, #333 + others

Explored parallelism in QA with mixed results.  Large complex authorities generally saw improvement.  Smaller, less complex authorities actually got worse.  Did not put this in production.  Branch on local machine not pushed to GitHub.

[2020-05-12 18:49] elrayle commented on #187
This is a lower priority until the cache performance improves.  At this point, performance issues in the QA side are drawfed by the performance of receiving cache data.

[2020-05-12 18:50] elrayle commented on #188
Need to add accuracy tests for these scenarios.

[2020-05-12 18:52] elrayle commented on #189
It seems like the question here is whether there is extended context that can be shown to the user that lets them know the difference between the two results.

@sfolsom What is the action we need to take for this?

[2020-05-12 18:58] elrayle commented on #190
I marked this low priority.  Indexing changes are underway to support parentheses, hyphens, diacritics, etc.  This type of indexing change is more complex and is lower in priority than the changes currently being worked on.

If the left-anchor can be encoded in the search string, it would mean that the only change would happen at the cache level.  Otherwise, all levels of the app (i.e., cache, qa,

[2020-05-12 19:02] elrayle commented on #193
This is partially fixed.  I can view graphs on AWS integration server, but the performance of generating the graphs make them unusable in production.  Exploring generating graphs in background as a means for creating them more efficiently.  See PRs #329, #330, #331, #332.

[2020-05-12 19:21] elrayle commented on #62
You can see how QA is looking for the label by looking at the QA config...

[lib/generators/qa_server/templates/config/authorities/linked_data/dbpedia_ld4l_cache.json](https://github.com/LD4P/qa_server/blob/master/lib/generators/qa_server/templates/config/authorities/linked_data/dbpedia_ld4l_cache.json#L86-L90) shows `"label_ldpath": "dbpedia:name ::xsd:string"`

@sfolsom From your comments, it so

[2020-05-12 19:31] elrayle commented on #197
This may require changes at the cache level indexing. Toward that end, I think we need more information.

@bushmanb, a few questions...
* Are you saying that term URIs should never be returned?  Instead, descriptor terms should be returned?
* Does the descriptor have the text that is being searched for (e.g. Vocational Education appears in some field in D014829)?
* Are terms identified by the last